= form_for [:admin, @election] do |f|
  - if @election.errors.any?
    #error_explanation
      %h2= "#{pluralize(@election.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @election.errors.full_messages.each do |msg|
          %li= msg
          
  .col-sm-8.field
    = f.label :owner_id
    = collection_select('election', 'owner_id', User.with_role(:admin).map{|u| [u.id, u.name]}, :first, :last, {prompt: 'Select owner'}, {html_options: "required"})
    
  .col-sm-8.field
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
    
  .col-sm-8.field
    = f.label :name
    = f.text_field :name, class: 'form-control'
    
  .col-sm-8.field
    = f.label t(:description), t(:description)
    = f.text_area :description, class: 'form-control'
    
  .col-sm-8.field
    = f.label :date
    = f.datetime_select :date
    
  .col-sm-8.actions
    = f.submit t(:save), class: 'btn btn-primary', disable_with: "#{t(:saving)}..."
