:css
  .notify { margin-bottom: 4px; }
  .field, .actions { margin-top: 15px; }
  td { vertical-align: top;}
  label { margin-top: 10px; font-weight: normal;}


= form_for [:admin, @election] do |f|
  - if @election.errors.any?
    #error_explanation
      %h2= "#{pluralize(@election.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @election.errors.full_messages.each do |msg|
          %li= msg
    
  .col-sm-8.field
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
    
  .col-sm-8.field
    = f.label :name
    = f.text_field :name, class: 'form-control'
    
  .col-sm-8.field
    = f.label t(:description), t(:description)
    = f.text_area :description, class: 'form-control'
    
  .col-sm-8.field
    = f.label :date
    = f.datetime_select :date
    
  .col-sm-8.actions
    = f.submit 'Save', class: 'btn btn-primary'
