= render 'admin/nav', {active: 'elections'}

%h1
  Elections
  &nbsp;
  %small
    = link_to 'New Election', new_admin_election_path, class: 'btn btn-default btn-xs'

%table.admin
  %thead
    %tr
      %th Name
      %th Slug
      %th Description
      %th Date
      %th
      %th

  %tbody
    - @elections.each do |election|
      %tr
        %td= link_to election.name, election
        %td= election.slug
        %td= election.description
        %td= election.date.strftime("%b %-d, %Y")
        %td= link_to 'Edit', edit_admin_election_path(election)
        %td= link_to 'Destroy', admin_election_path(election), :method => :delete, :data => { :confirm => 'Are you sure?' }