:css
  #error_explanation {
    float: none;
    display: block;
    margin-top: 100px;
    color: #f00;
    ul {
      list-style: none;
      margin: 0 0 18px 0;
    }
  }

  h2 {
    font-size: 22px;
  }

  .field_with_errors {
    @extend .control-group;
    @extend .error;
   }

.col-sm-8.field
  %h3{style: 'margin-top: 0;'}
    = t(:will_drive)
  %p
    = t(:will_drive_signup_description)

%br
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autocomplete: "off"}) do |f|
  = devise_error_messages!

  = f.hidden_field :user_type

  .col-sm-8.field
    = f.label :name, "#{t(:name)} *"
    = f.text_field :name, class: 'form-control', autofocus: true

  .col-sm-8.field
    = f.label :email, "Email *"
    = f.email_field :email, class: 'form-control', required: 'true'

  .col-sm-8.field
    = f.label :phone_number, "#{t(:phone_number)} *"
    = f.telephone_field :phone_number, class: 'form-control', required: 'true'

  .col-sm-8.field
    = f.label :city_state, "#{t(:city)} and #{t(:state)} *"
    = f.text_field :city_state, class: 'form-control', required: 'true', autocomplete: :off

  :javascript
    function DisableAutoComplete() {
      var thisForm = document.getElementById('user_city_state');
      thisForm.setAttribute('autocomplete','off');
    }

    DisableAutoComplete();

    -# These hidden fields
    = f.hidden_field :city, :value => ''
    = f.hidden_field :state, :value => ''

  .col-sm-8.field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off", class: 'form-control', required: 'true'

  .col-sm-8.field
    = f.submit t(:volunteer_to_drive), class: 'btn btn-primary', style: 'width: 100%; margin: 10px 0 0 0', disable_with: "#{t(:saving)}..."

    .small{style: 'margin-top: -10px 0 0 0;'}
      By saving your are agreeing to the #{link_to t(:terms_of_service), terms_of_service_path, target: '_blank'}.
    %br

- @google_api_key = 'AIzaSyDefFnLJQKoz1OQGjaqaJPHMISVcnXZNPc'
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=#{@google_api_key}"></script>
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js'}
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/typeahead-addresspicker/0.1.4/typeahead-addresspicker.min.js'}

:javascript
  locationAutocomplete.attach();