:css
  h2 { font-size: 22px; }
  label { font-weight: bold; }
  .field_with_errors {
    @extend .control-group !optional;
    @extend .error;
   }

.col-sm-8.field
  %h3{style: 'margin-top: 0;'}
    = t(:will_drive)
  %div{style: 'margin-bottom: 0;'}
    = t(:will_drive_signup_description)

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {autocomplete: "off"}) do |f|
  = devise_error_messages!
  = f.hidden_field :user_type

  .col-sm-8.field
    = f.label :name, "#{t(:name)} *"
    = f.text_field :name, class: 'form-control', autofocus: true

  .col-sm-8.field
    = f.label :email, "Email *"
    = f.email_field :email, class: 'form-control', required: 'true'

  .col-sm-8.field
    = f.label :phone_number, "#{t(:phone_number)} *"
    = f.telephone_field :phone_number, class: 'form-control', required: 'true'

  .col-sm-8.field

    %label{for: 'user_city_state'}
      %div
        City and State*
        %div{style: "line-height: 22px; margin-bottom: 0px;"}
          %i
            Where you want to volunteer. Enter a location in #{User::VALID_STATES.map{|s| s[0]}.to_sentence(last_word_connector: ', or ')}.
    = f.text_field :city_state, class: 'form-control', required: 'true', autocomplete: :off

    -# These hidden fields
    = f.hidden_field :city, :value => ''
    = f.hidden_field :state, :value => ''

  .col-sm-8.field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off", class: 'form-control', required: 'true'

  .col-sm-8.field
    = f.submit t(:volunteer_to_drive), class: 'btn btn-primary', style: 'width: 100%; margin: 10px 0 0 0', disable_with: "#{t(:saving)}..."

    .small{style: 'margin-top: -10px 0 0 0;'}
      By saving your are agreeing to the #{link_to t(:terms_of_service), terms_of_service_path, target: '_blank'}.
    %br

- @google_api_key = 'AIzaSyDefFnLJQKoz1OQGjaqaJPHMISVcnXZNPc'
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=#{@google_api_key}"></script>
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/dist/typeahead.bundle.min.js'}
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/typeahead-addresspicker/0.1.4/typeahead-addresspicker.min.js'}

:javascript
  locationAutocomplete.attach();