<h1 style="font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;font-size: 36px;line-height: 1.2em;margin: 40px 0 15px;padding: 0;color: #111111;font-weight: 200;">

  Welcome <%= @user.name %>!</h1>

<p style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 12px;">

  Your ride to the polls is scheduled for
  <br><b><%= @ride.pickup_in_time_zone.strftime('%m/%d %l:%M %P') %></b>
</p>

<p style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 12px;">

  Pickup location:
  <br>
  <b><%= "#{@ride.from_address} #{@ride.from_city}" %></b>
</p>

<p style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 12px;">

  <!--If you need to reschedule first <a href="https://drive.vote/users/password/new">create a password for your account</a>.--> Email <a href="mailto:<%= @ride.ride_zone.email %>"><%= @ride.ride_zone.email %></a> if you have questions or need help.

</p>

<p style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 12px;">

  Do you know others in your area who need rides?

  Share on <a href="http://www.facebook.com/sharer.php?u=https://www.drive.vote" target="_blank">Facebook</a>
  or
  <a href="http://twitter.com/intent/tweet?url=https://www.drive.vote&text=Drive%20the%20Vote%20matches%20people%20who%20need%20a%20ride%20to%20their%20polling%20place%20with%20volunteer%20drivers.&via=drivevote&related=wordie" target="_blank">Twitter</a>.</p>

<p style="font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.6em;margin: 0;padding: 0;font-weight: normal;margin-bottom: 12px;">Thanks getting to the polls and voting!</p>
