:css
  th { font-weight: bold; margin-bottom: 20px;}
  td { font-size: 14px; }

= render 'admin/nav', {active: 'rides'}

%h2
  Rides
  &nbsp;
  %small
    = link_to 'New Ride', new_admin_ride_path, class: 'btn btn-default btn-xs'

= render partial: "application/admin_search", locals: { page: 'rides' }

= render partial: 'rides/table', locals: {rides: @rides, admin: true}

- if @rides.present?
  %nav{'aria-label': 'pagination'}
    = will_paginate @rides
