= render 'admin/nav', {active: 'rides'}

%h1
  Rides
  &nbsp;
  %small
    = link_to 'New Ride', new_admin_ride_path, class: 'btn btn-default btn-xs'

%table.admin
  %thead
    %tr
      %th Ride
      %th Name
      %th Description
      %th Pickup Time
      %th Ride Zone
      %th Driver
      %th Voter
      %th Status
      %th
      %th
      %th

  %tbody
    - @rides.each do |ride|
      %tr
        %td= ride.id
        %td= ride.name
        %td= ride.description
        %td= ride.pickup_at.nil? ? 'None Set' : ride.pickup_at
        %td= ride.ride_zone.nil? ? 'None Set' : ride.ride_zone.name
        %td= ride.driver.nil? ? 'None Assigned' : ride.driver.name
        %td= ride.voter.nil? ? 'None Assigned' : ride.voter.name
        %td= ride.status.nil? ? 'None Set' : ride.status
        %td
          -# = link_to 'Show', ride
        %td= link_to 'Edit', edit_admin_ride_path(ride)
        %td
          -#= link_to 'Destroy', ride, :method => :delete, :data => { :confirm => 'Are you sure?' }
