= render 'admin/nav', {active: 'rides'}

%h1
  Rides
  &nbsp;
  %small
    = link_to 'New Ride', new_admin_ride_path, class: 'btn btn-default btn-xs'

%table.admin
  %thead
    %tr
      %th Ride
      %th Ride Zone
      %th Driver
      %th Voter
      %th Pickup Time
      %th Additional Passengers
      %th Status
      %th
      %th
      %th

  %tbody
    - @rides.each do |ride|
      %tr
        %td= ride.id
        %td= ride.ride_zone.nil? ? 'None Set' : ride.ride_zone.name
        %td= ride.driver.nil? ? 'None Assigned' : ride.driver.name
        %td= ride.voter.nil? ? 'None Assigned' : ride.voter.name
        %td= ride.pickup_at.nil? ? 'None Set' : ride.pickup_in_time_zone.strftime('%m/%d %l:%M %P %Z')
        %td= ride.additional_passengers
        %td= ride.status.nil? ? 'None Set' : ride.status
        %td= link_to 'Show', [:admin, ride]
        %td= link_to 'Edit', edit_admin_ride_path(ride)
        %td= link_to 'Destroy', [:admin, ride], :method => :delete, :data => { :confirm => 'Are you sure?' }
