%p#notice= notice

%p
  %b Name:
  = @ride.name
%p
  %b Description:
  = @ride.description
%p
  %b Pickup Time:
  = @ride.pickup_at ||= 'None Set'
%p
  %b Ride Zone:
  = @ride.ride_zone.nil?  ? 'None Assigned' : @ride.ride_zone.name
%p
  %b Driver:
  = @ride.driver.nil?  ? 'None Assigned' : @ride.driver.name
%p
  %b Voter:
  = @ride.voter.nil? ? 'None Assigned' : @ride.voter.name
%p
  %b Additional Passengers:
  = @ride.additional_passengers
%p
  %b Special Requests:
  = @ride.special_requests
%p
  %b Status:
  = @ride.status.nil? ? 'None Selected' : @ride.status

%p
  = link_to 'Back to Rides', admin_rides_url
