= render 'admin/nav', {active: 'rides'}

%p{style: 'margin-top: 20px;'}
  = link_to 'Back to Rides', admin_rides_url

%h3#notice= notice

= link_to 'Edit', edit_admin_ride_path(@ride), class: 'btn btn-default btn-info btn-sm'
%p
%p
  %b Name:
  = @ride.name
%p
  %b From address:
  = [@ride.from_address, @ride.from_city, @ride.from_state].join(', ')
%p
  %b To address:
  = [@ride.to_address, @ride.to_city, @ride.to_state].join(', ')
%p
  %b Pickup Time:
  = @ride.pickup_at ? @ride.pickup_in_time_zone.strftime('%m/%d %l:%M %P %Z') : 'None Set'
%p
  %b Ride Zone:
  = @ride.ride_zone.nil?  ? 'None Assigned' : @ride.ride_zone.name
%p
  %b Driver:
  = @ride.driver.nil?  ? 'None Assigned' : @ride.driver.name

%p
  %b Additional Passengers:
  = @ride.additional_passengers
%p
  %b Special Requests:
  = @ride.special_requests
%p
  %b Status:
  = @ride.status.nil? ? 'None Selected' : @ride.status


