= render 'admin/nav', {active: 'rides'}

%p{style: 'margin-top: 20px;'}
  = link_to 'Back to Rides', admin_rides_url

%p#notice= notice

%p
  Voter
%h3{style: 'margin-top: 0;'}
  = @ride.voter.nil? ? 'None Assigned' : @ride.voter.name

%p
  %b Name:
  = @ride.name
%p
  %b Description:
  = @ride.description
%p
  %b Pickup Time:
  = @ride.pickup_at ||= 'None Set'
%p
  %b Ride Zone:
  = @ride.ride_zone.nil?  ? 'None Assigned' : @ride.ride_zone.name
%p
  %b Driver:
  = @ride.driver.nil?  ? 'None Assigned' : @ride.driver.name

%p
  %b Additional Passengers:
  = @ride.additional_passengers
%p
  %b Special Requests:
  = @ride.special_requests
%p
  %b Status:
  = @ride.status.nil? ? 'None Selected' : @ride.status


