- the_class = "#{@conversation.id}_#{attribute}"
%div{id: "#{the_class}_wrapper"}

  %div{style: 'color: #999; margin: 15px 0 -5px 0; font-size: 15px; font-weight: bold;'}
    = attribute.humanize

  %div{class: "#{the_class}", style: 'display: none;'}
    = form_tag( update_attribute_admin_conversation_path(@conversation), method: :post, remote: :true, id: "#{the_class}_form") do
      = hidden_field_tag 'attribute_name',  attribute
      = text_field_tag 'attribute_value', @conversation.send(attribute)

  %div{class: the_class, style: 'font-size: 18px;'}
    - attribute_value = @conversation.send(attribute)
    - if attribute_value.present?
      #{attribute_value}
      #{link_to ' &nbsp;(edit)'.html_safe, '#', onclick: "$('.#{the_class}').toggle(); $('##{the_class}_form').find('input[type=text]').focus(); return false;", style: 'font-size: 15px;'}

    - else
      = link_to ' (add)', '#', onclick: "$('.#{the_class}').toggle(); $('##{the_class}_form').find('input[type=text]').focus(); return false;", style: 'font-size: 15px;'

  :javascript
    $(document).ready(function() {
      $("##{the_class}_form")
        .bind('ajax:success', function(evt, data, status, xhr) {
          console.log('success');
          $("##{the_class}_wrapper").replaceWith( xhr.responseText );
        })
        .bind("ajax:error", function(evt, xhr, status, error) {
          console.log(xhr.responseText);
        });
      });