.messages
  - @conversation.messages.order('created_at asc').each do |message|
    .message{style: "text-align: #{(message.sent_by == 'Voter') ? 'left' : 'right'}"}
      -#.btn.btn-info.btn-xs
      %div{style: 'margin-bottom: 5px;'}
        %code
          #{message.created_at.localtime.strftime('%l:%M%P')},
          = message.sent_by
      .msg-body
        = message.body

:javascript
  // now that we have the conversation object, populate the modal header
  $('#conversationModalLabel').html( "#{@conversation.from_phone.phony_formatted(normalize: :US, spaces: '-')}" );
  $('#msg-count').html( "#{pluralize( @conversation.messages.count, 'message' )}" );
