.messages
  - @conversation.messages.order('created_at asc').each do |message|
    .message{style: "text-align: #{(message.sent_by == 'Voter') ? 'left' : 'right'}"}
      .msg-timestamp
        #{message.created_at.localtime.strftime('%l:%M%P')},
        = message.sent_by
      .msg-body
        = message.body

%div{style: 'font-weight: bold; margin: 20px 0 0 5px;'}
  Reply

%div{style: 'font-weight: bold; margin: 0 0 0 5px;'}
  = text_area_tag 'body', nil, style: 'width: 320px;'

%p
  = button_tag 'Send', type: :submit, class: 'btn btn-primary', disable_with: "Replying...", onclick: "javascript: dispatchController.sendReply('#{messages_api_v1_conversation_path(@conversation)}')"