- url = send("update_attribute_api_v1_#{@obj.class.name.downcase}_path", @obj)

%table
  - if @action == 'Edit'
    %tr
      %td.conv-label
        Ride created:
      %td.conv-field
        #{time_ago_in_words(@conversation.ride.created_at)} ago

  %tr
    %td.conv-label
      From address:
    %td.conv-field
      %a.to_from{href: '#', id:"from_address", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"From address"}
        = @obj.send(:from_address)

  %tr
    %td.conv-label
      From city:
    %td.conv-field
      %a.to_from{href: '#', id:"from_city", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"From city"}
        = @obj.send(:from_city)

  %tr
    %td.conv-label
      To address:
    %td.conv-field
      %a.to_from{href: '#', id:"to_address", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"To address"}
        = @obj.send(:to_address)

  %tr
    %td.conv-label
      To city:
    %td.conv-field
      %a.to_from{href: '#', id:"to_city", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"To city"}
        = @obj.send(:to_city)

  - if @action == 'Edit'
    %tr
      %td.conv-label
        Currrent Driver:
      %td.conv-field
        - if driver = @obj.send(:driver)
          = driver.try(:name)
        - else
          %i
            Unassigned

  %tr
    %td.conv-label
      Driver:
    %td.conv-field
      - if @zone_driver_count == 0
        %i
          There are no drivers assigned to this zone.
      - else
        - if @available_drivers.present? || @action == 'Edit'
          %select{id: 'driver_select'}
            %option
              Select driver:

            - if @obj.class == Ride && driver = @obj.send(:driver)
              - if driver_name = driver.try(:name)
                %option{value: driver.id}
                  = driver_name

            - @available_drivers.each do |driver|
              %option{value: driver.id}
                = driver.name
        - else
          %i
            None of the #{@zone_driver_count} drivers in this zone are currently available.

%div
  = link_to "#{@action} Ride", '#', id: "create_or_edit_ride", class: 'btn btn-primary', style: 'margin-top: 30px;'


  :javascript

    $(document).ready(function() {
      $('#from_address').editable({ mode: 'inline' });
      $('#from_city').editable({ mode: 'inline'});
      $('#to_address').editable({ mode: 'inline'});
      $('#to_city').editable({ mode: 'inline'});

      dispatchController.attachRideClick(#{@obj.ride_zone_id}, #{@obj.id}, "#driver_select", "#{@action.downcase}");
    });