// locals:
//   conversations - a Conversation collection
//   include_show - true/false display show control
%table.admin
  %thead
    %tr
      %th RideZone
      %th Voter #
      %th Zone #
      %th Status
      %th Lifecycle
      %th Pickup Time
      %th Ride
      %th
      - if include_show
        %th

  %tbody
    - conversations.each do |conversation|
      %tr
        - if conversation.ride_zone
          %td= link_to conversation.ride_zone.name, admin_ride_zone_path(conversation.ride_zone)
        - else
          %td None Set
        %td= conversation&.user&.phone_number_normalized != '5555555555' ? conversation&.user&.phone_number&.phony_formatted(normalize: :US, spaces: '-') : ''
        %td= conversation&.ride_zone&.phone_number&.phony_formatted(normalize: :US, spaces: '-')
        %td= conversation.status_str
        %td= conversation.lifecycle_str
        %td= conversation.pickup_at.nil? ? 'None Set' : conversation.pickup_at.localtime.strftime('%m/%d %l:%M%P')
        - if conversation.ride
          %td= link_to conversation.ride.name, admin_ride_path(conversation.ride)
        - else
          %td Not yet
        %td= link_to 'Close', close_admin_conversation_path(conversation), class: 'btn btn-warning btn-xs', data: { confirm: 'This will permanently close the conversation and ride and remove the rider from the pool.' }, method: :POST
        - if conversation.voter_phone_blacklisted?
          %td= link_to 'Unblacklist #', unblacklist_voter_phone_admin_conversation_path(conversation), class: 'btn btn-default btn-xs', data: { confirm: "Are you sure you want to unblacklist phone number #{conversation.from_phone}?" }, method: :POST
        - else
          %td= link_to 'Block this number', blacklist_voter_phone_admin_conversation_path(conversation), class: 'btn btn-danger btn-xs', data: { confirm: "Are you sure you want to permanently block this phone number, #{conversation.from_phone}?" }, method: :POST


        - if include_show
          %td= link_to 'Show', admin_conversation_path(conversation)

-# if conversations.present? && include_show
  %nav{'aria-label': 'pagination'}
    = will_paginate conversations