:javascript
  function send_reply(url) {
    var args = {'message' : {'body': $('#body').val()}};
    $.ajax(url, {type: 'POST', dataType: 'json', data: args, process_data: false, content_type: 'application/json'})
      .success(function() { location.reload(); });
  }

= render 'admin/nav', {active: 'conversations'}

%p#notice= notice

%h4 Conversation
= render partial: 'admin/conversations/table', locals: {conversations: [@conversation], include_show: false}
%p
  = link_to 'Back to Conversations', admin_conversations_url
%h4 Messages
%table.admin
  %thead
    %tr
      %th Time
      %th From
      %th To
      %th Message

  %tbody
    - @conversation.messages.order('created_at asc').each do |message|
      %tr
        %td= message.created_at.localtime.strftime('%m/%d %l:%M%P')
        %td= message.from
        %td= message.to
        %td= message.body

%h5 Reply
= text_area_tag 'body', nil, rows: 3, cols: 60
%p
= button_tag 'Send', type: :submit, onclick: "javascript: send_reply('#{messages_api_v1_conversation_path(@conversation)}')"
