:css
  .btn-clear { background-color: white; color: #333; border: 2px solid #bdc3c7; padding-right: 20px; padding-left: 20px;}
  
= form_for @user, :role => 'form', :html => {:class => 'form-horizontal'}  do |f|
  
  .col-sm-8.field
    Can you drive?
    &nbsp;&nbsp;&nbsp;&nbsp;

    %label
      .btn.btn-default.btn-clear
        = f.radio_button :user_type, 'driver', checked: !!(@type == 'driver')
        &nbsp;
        = t(:yes)
    
    &nbsp;&nbsp;
    %label
      .btn.btn-default.btn-clear
        = f.radio_button :user_type, 'rider', checked: !!(@type == 'rider')
        &nbsp;
        = t(:no)
      
  .col-sm-8.field
    = f.label :phone_number, "#{t(:phone_number)} *"
    = f.telephone_field :phone_number, class: 'form-control', autofocus: true

  .col-sm-8.field
    = f.label :address1, t(:address)
    = f.text_field :address1, class: 'form-control'

  .clearfix

  .col-sm-8.field
    = f.label :city_state, "#{t(:city)} and #{t(:state)} *"
    = f.text_field :city_state, class: 'form-control'
    
    -# These hidden fields
    = f.hidden_field :city, :value => '' 
    = f.hidden_field :state, :value => '' 
    
  .col-sm-8.field
    = f.submit t(:save), class: 'btn btn-primary', style: 'width: 100%; margin-top: 10px;', disable_with: "#{t(:saving)}..."
    
    .small{style: 'margin: 10px 0 50px 0;'}
      By saving your are agreeing to the #{link_to t(:terms_of_service), terms_of_service_path, target: '_blank'}.
    
  -#
    / = f.radio_button :user_type, 'dunno', checked: !!(@type.nil?)
    / &nbsp;
    / = f.label :user_type, t(:dunno), value: 'dunno'
    
  -# Don't display if they're coming from signup, otherwise do
    / .col-sm-8.field
    /   = f.label t(:description), t(:description)
    /   = f.text_area :description, class: 'form-control'
    
    
  -# 
    / .col-sm-1.field
    /   = f.label :state, t(:state)
    /   %br
    /   = collection_select('user', 'state', CS.states(:us), :first, :first, {prompt: ''}, {html_options: "required"})
    /
    / .col-sm-2.field
    /   = f.label :zip
    /   = f.text_field :zip, class: 'form-control'



  -# Don't display if they're coming from signup, otherwise do
  -# .col-sm-8.field
    / #{t(:languages)}:
    / %label
    /
    /   &nbsp;&nbsp;&nbsp;
    /   - @user.speaks_english = true if @user.missing_required_fields? && I18n.locale.to_s == 'en'
    /   = f.check_box :speaks_english
    /   &nbsp; English
    /
    /   &nbsp;&nbsp;
    /   - @user.speaks_spanish = true if @user.missing_required_fields? && I18n.locale.to_s == 'es'
    /   = f.check_box :speaks_spanish, checked: (I18n.locale.to_s == 'es') ? true : false
    /   &nbsp; Spanish

      
    -#/ .col-sm-8.field
      /
      /   .btn-group
      /     %button.btn.btn-default{type: "button"}
      /       Democratic
      /     %button.btn.btn-default{type: "button"}
      /       Republican
      /     %button.btn.btn-default{type: "button"}
      /       Other
        
      / %hr
      /
      / = f.radio_button :party_affiliation, 'democratic'
      / = f.label :party_affiliation, 'Democratic'
      / &nbsp;&nbsp;
      /
      / = f.radio_button :party_affiliation, 'republican'
      / = f.label :party_affiliation, 'Republican'
      / &nbsp;&nbsp;
      /
      / = f.radio_button :party_affiliation, 'other'
      / = f.label :party_affiliation, 'Other'

  
      -# %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css"}
  
  /%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"}

  / .col-sm-8.field
  /   How many passengers can you take?
  /   = collection_select('user', 'max_passengers', {1 => 1, 2 =>2, 3 => 3, 4 => 4, 5=>5, 6=>6, 7=>7, 8=>8, 9=>9, 10=>10, 11=>11, 12=>12}, :first, :last)

  / .col-sm-8.field
  /   = t(:around_what_time)
  /   - if @type == 'driver'
  /     #{t(:can_drive)}?
  /   - elsif @type == 'rider'
  /     #{t(:need_ride)}?
  /
  /   = collection_select('user', 'start_drive_time', @time_hash, :first, :last)

  -# .col-sm-8.field
    / %label
    /   = f.check_box :accepted_tos, required: 'required'
    /   &nbsp; #{t(:agree_to)} #{link_to t(:terms_of_service), terms_of_service_path, target: '_blank'}? &nbsp;