:css
  .notify { margin-bottom: 4px; }
  .field { margin-top: 15px; }
  
.col-sm-7
  %h3
    DRIVER FORM!
    
= form_for @user, :role => 'form', :html => {:class => 'form-horizontal'}  do |f|

  - if @user.errors.any?  
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
        
  .col-sm-7.field
    -# = f.label :name, :class => 'col-sm-2 control-label'
    = f.text_field :name, class: 'form-control', placeholder: 'User name', autofocus: true
    
  .col-sm-7.field
    -# = f.label :email, :class => 'col-sm-2 control-label'
    = f.email_field :email, class: 'form-control', placeholder: 'Email'
    
  .col-sm-7.field
    -# = f.label :email, :class => 'col-sm-2 control-label'
    = f.telephone_field :phone_number, class: 'form-control', placeholder: 'Phone number'
    
  -# = f.label :description, :class => 'col-sm-2 control-label'
  .col-sm-7.field
    = f.text_area :description, class: 'form-control', placeholder: 'Description'
  
  .col-sm-7.field
    = f.text_field :address1, class: 'form-control', placeholder: 'Address', autofocus: true
  
  .col-sm-7.field
    = f.text_field :city, class: 'form-control', placeholder: 'City', autofocus: true
    
  .col-sm-7.field
    = collection_select('@user', 'state', CS.states(:us), :first, :last)
    
  .col-sm-7.field
    = f.text_field :postal_code, class: 'form-control', placeholder: 'Zip', autofocus: true
    
  .col-sm-7.field
    = f.submit 'Save', class: 'btn', disable_with: 'Saving...'
