.col-sm-12.field
  - if current_user.has_required_fields?
    %h2 Edit #{link_to @user.name, @user}

    = render 'form'
    
  - else
    %h1
      #{t(:hi)} #{current_user.name}!
      %br
      %small
        Please fill in all required fields to register as a #{@type}
  
    <span class="glyphicons glyphicons-thumbs-up"></span>
    <i class="glyphicon glyphicon-home"></i>
    - if @type = 'driver'
      = render 'driver_form'
    - elsif @type = 'rider'
      = render 'rider_form'