:css
  .notify { margin-bottom: 4px; }
  .field { margin-top: 15px; }
  td { vertical-align: top;}
  label { margin-top: 10px; font-weight: normal;}
  
.col-sm-12.field
  - if current_user.has_required_fields?
    %h2 Edit #{link_to @user.name, @user}

  - else
    %h4
      #{t(:thanks)} #{current_user.name}
      %br
      %small
        = t(:complete_registration)
        
  - if @user.errors.any?  
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

= form_for @user, :role => 'form', :html => {:class => 'form-horizontal'}  do |f|
  
  .col-sm-8.field
    = f.radio_button :user_type, 'rider', checked: !!(@type == 'rider')
    = f.label :user_type, t(:rider)
    &nbsp;&nbsp;
    
    = f.radio_button :user_type, 'driver', checked: !!(@type == 'driver')
    = f.label :user_type, t(:driver)
    &nbsp;&nbsp;
    
    = f.radio_button :user_type, 'dunno', checked: !!(@type == 'dunno')
    = f.label :user_type, t(:dunno)
      
  .col-sm-8.field
    -# = f.label :email, :class => 'col-sm-2 control-label'
    = f.label :phone_number, t(:phone_number)
    = f.telephone_field :phone_number, class: 'form-control', autofocus: true #, placeholder: 'Phone number *'

  -# = f.label :description, :class => 'col-sm-2 control-label'
  .col-sm-8.field
    = f.label t(:description), t(:description)
    = f.text_area :description, class: 'form-control' #, placeholder: 'Description'

  .col-sm-8.field
    = f.label :address1, t(:address)
    = f.text_field :address1, class: 'form-control' #, placeholder: 'Address'

  .clearfix

  .col-sm-4.field
    = f.label :city, t(:city)
    = f.text_field :city, class: 'form-control' #, placeholder: 'City *'

  .col-sm-3.field
    = f.label :state, t(:state)
    = collection_select('user', 'state', CS.states(:us), :first, :last, {prompt: 'Select your state'}, {html_options: "required"})

  .clearfix

  .col-sm-8.field
    = f.label :zip
    = f.text_field :zip, class: 'form-control', placeholder: 'Zip *'

  .col-sm-8.field
    #{t(:languages)}:
    %label
    
      &nbsp;&nbsp;&nbsp;
      - @user.speaks_english = true if @user.missing_required_fields? && I18n.locale.to_s == 'en'
      = f.check_box :speaks_english
      &nbsp; English
      
      &nbsp;&nbsp;
      - @user.speaks_spanish = true if @user.missing_required_fields? && I18n.locale.to_s == 'es'
      = f.check_box :speaks_spanish, checked: (I18n.locale.to_s == 'es') ? true : false
      &nbsp; Spanish
  
  %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css"}
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"}

  / .col-sm-8.field
  /   How many passengers can you take?
  /   = collection_select('user', 'max_passengers', {1 => 1, 2 =>2, 3 => 3, 4 => 4, 5=>5, 6=>6, 7=>7, 8=>8, 9=>9, 10=>10, 11=>11, 12=>12}, :first, :last)

  .col-sm-8.field
    = t(:around_what_time)
    - if @type == 'driver'
      #{t(:can_drive)}?
    - elsif @type == 'rider'
      #{t(:need_ride)}?
    
    = collection_select('user', 'start_drive_time', @time_hash, :first, :last)

  .col-sm-8.field
    %label
      = f.check_box :accepted_tos, required: 'required'
      &nbsp; #{t(:agree_to)} #{link_to t(:terms_of_service), '/terms'}? &nbsp;
      
  .col-sm-8.field
    = f.submit t(:save), class: 'btn btn-primary', disable_with: "#{t(:saving)}..."
    