.pull-right
  = link_to 'Edit', edit_user_path(current_user), class: 'btn btn-default'

%h1
  = @user.name

= render partial: "users/info"

%br
%p
  People in your area looking for rides:
  %br
  - if @nearby_riders.present?
    %ul
      - @nearby_riders.each do |nbr|
        - if nbr.id != @user.id
          %li
            = nbr.name
  - else
    There aren't any.

%p
  There #{"is".pluralize(@nearby_drivers)} #{pluralize(@nearby_drivers, 'driver')} in your area.

%p
  #{link_to 'Share this', '#'} to let people know you're driving the vote!
