.description
  %b
    #{t(:drive_the_vote)}
  = t(:short_description).gsub( /\n+/, "<br>" ).html_safe
  
  %br

  .volunteer
    = link_to new_user_registration_path(type: 'driver', locale: I18n.locale.to_s) do
      %button.btn.btn-lg.btn-info.btn-home{role: 'button'}
        = t(:will_drive)

  .request
    = link_to new_user_registration_path(type: 'rider', locale: I18n.locale.to_s) do
      %button.btn.btn-lg.btn-danger.btn-home{role: 'button'}
        = t(:i_need_ride)