.description
  %b
    #{t(:drive_the_vote)}
  = t(:short_description).gsub( /\n+/, "<br>" ).html_safe

.volunteer
  = link_to user_facebook_omniauth_authorize_path(type: 'driver', campaign: params[:campaign_slug], locale: I18n.locale.to_s) do
    %button.btn.btn-lg.btn-info.btn-home{role: 'button'}
      = t(:will_drive)

.request
  = link_to user_facebook_omniauth_authorize_path(type: 'rider', campaign: params[:campaign_slug], locale: I18n.locale.to_s) do
    %button.btn.btn-lg.btn-danger.btn-home{role: 'button'}
      = t(:i_need_ride)

  -#    
    / = link_to user_facebook_omniauth_authorize_path(type: 'driver', campaign: params[:campaign_slug], locale: I18n.locale.to_s) do
    /   %button.btn.btn-primary.btn-lg.btn-home{role: 'button'}
    /     = t(:got_it)
        
        
-#
  / .row.sign_up
  /   .col-sm-12.text-center{style: 'font-size: 12px;'}
  /     #{t(:or)} #{link_to t(:just_sign_up), user_facebook_omniauth_authorize_path(type: 'dunno', campaign: params[:campaign_slug])}.