.description
  %h1{style: 'text-align: center'}
    #{t(:drive_the_vote)}
  %h2
    = t(:short_description).gsub( /\n+/, "<br>" ).html_safe

  %h3.how-it-works
    = t(:how_it_works)
  %p
    = t(:how_it_works_copy)

  %h3
    = t(:how_to_help)
  %p
    = t(:how_to_help_copy1)
    = User::VALID_STATES.map{|s| "<b>#{s[1]}</b>"}.to_sentence(last_word_connector: ', or ').html_safe
    = t(:how_to_help_copy2)

  .volunteer
    = link_to volunteer_to_drive_path(locale: I18n.locale.to_s) do
      %button.btn.btn-lg.btn-info.btn-home{role: 'button'}
        = t(:will_drive)