.description
  %h1.hed
    #{t(:drive_the_vote)}
  %h2.subhed
    = t(:short_description).gsub( /\n+/, "<br>" ).html_safe

  %p{style: "text-align: center;"}
    .embed-container
      <iframe src='https://player.vimeo.com/video/186460916?portrait=0&title=0&byline=0&badge=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  %h3.how-it-works
    = t(:how_it_works)

  %p
    = t(:how_it_works_copy)

  %h3
    = t(:how_to_help)
  %p
    -# = t(:how_to_help_copy1)
    If you have a car and can be in <b>Salt Lake City</b> or <b>Philadelphia</b>
    -# = User::VALID_STATES.map{|s| "<b>#{s[1]}</b>"}.to_sentence(last_word_connector: ', or ').html_safe
    -# = t(:how_to_help_copy2)
    on election day, volunteer to be a driver! Help get voters to the polls on November 8th and make sure everyone has a vote.

  .volunteer
    -# = link_to volunteer_to_drive_path(locale: I18n.locale.to_s) do
    -#   %button.btn.btn-lg.btn-info.btn-home{role: 'button'}
    -#     = t(:will_drive)
    = link_to '/volunteer/salt_lake_county' do
      %button.btn.btn-lg.btn-info.btn-home{role: 'button'}
        Volunteer for Salt Lake City, UT

    %br
    = link_to '/volunteer/philadelphia' do
      %button.btn.btn-lg.btn-info.btn-home{role: 'button'}
        Volunteer for Philadelphia, PA
