%h4{style: 'margin-top: 0;'}
  What is this?
  
%p
  %i
    Drive the Vote
  matches people who need a ride to their polling place with volunteer drivers, and provides notifications and information about voting times and polling places. It's non-partisan--anyone can use it.
  
%h4
  Don't want to drive?
%p
  Many states allow #{link_to 'early voting', 'https://www.vote.org/early-voting-calendar/', target: '_blank'} and/or #{link_to 'absentee ballots', 'https://www.vote.org/absentee-ballot/', target: '_blank'}. You may not need a ride at all :-)
  
%h4
  What if I'm not registered to vote?
%p
  It may not be too late! You can find state-by-state registration deadlines #{link_to 'here', 'https://www.usvotefoundation.org/vote/state-elections/state-election-dates-deadlines.htm'}. Also, thirteen states plus the District of Columbia offer same-day voter registration, allowing you to register and vote at the same time, on the day of the election. Learn where this is available, and the requirements, #{link_to 'here', 'http://www.ncsl.org/research/elections-and-campaigns/same-day-registration.aspx', target: '_blank'}

%h4
  What are the rules?
%p
  Be kind. Accept and follow the #{link_to t(:terms_of_service), terms_of_service_path, target: '_blank'}.
  
  -#
    / %h4
    /   Is it safe?
    / %p
    /   %i
    /     Drive the Vote
    /   requires a real identity, and uses Facebook login and a validated phone number and address to try to enforce that. You should communicate with potential drivers and riders prior to sharing a car, decline to enter or continue a ride if you feel uncomfortable, and exercise the same judgement as you would when buying something on Craigslist, or using a dating app.

%h4
  Who made it?
  -#
    %i
      Drive the Vote
    was built by me, #{link_to 'John McGrath', 'http://fryolator.com', target: '_blank'} (#{link_to '@wordie', 'https://twitter.com/wordie', target: '_blank'}). It's a different codebase, but the design was pretty much lifted from #{link_to 'Ride With Bernie', 'https://ridewithbernie.com/#/', target: '_blank'}.
Please send questions, comments, suggestions to #{mail_to 'john@drive.vote'}. Thanks!

%br
%br