%h4
  What is this?

%p
  Drive the Vote lets voters in supported areas request a free ride to their polling place. Campaigns and other get on the vote organizations in supported areas can also use it to pre-schedule rides for the people they serve.
    
%h4
  Can my campaign use it?
  
%p
  Drive the Vote will be deployed in select swing races. If you live an area with a tight national race, are affiliated with a campaign organization or similar group, and are willing to devote significant time to organizing and training drivers and running a ride system, please contact <a href="mailto:hello@drive.vote">hello@drive.vote</a>.

%h4
  Don't want to drive?
%p
  Many states allow #{link_to 'early voting', 'https://www.vote.org/early-voting-calendar/', target: '_blank'} and/or #{link_to 'absentee ballots', 'https://www.vote.org/absentee-ballot/', target: '_blank'}. You may not need a ride at all :-)

%h4
  What if I'm not registered?
%p
  It may not be too late! You can find state-by-state registration deadlines #{link_to 'here', 'https://www.usvotefoundation.org/vote/state-elections/state-election-dates-deadlines.htm'}. Also, thirteen states plus the District of Columbia offer same-day voter registration, allowing you to register and vote at the same time, on the day of the election. Learn where this is available, and the requirements, #{link_to 'here', 'http://www.ncsl.org/research/elections-and-campaigns/same-day-registration.aspx', target: '_blank'}.

%h4
  What are the rules?
%p
  Be kind and accept and follow the #{link_to t(:terms_of_service), terms_of_service_path, target: '_blank'}. You can find our privacy policy #{link_to 'here', privacy_path}.

%h4
  Who made it?
%p
  Drive the Vote is produced by Ragtag, a team of tech volunteers who help activists, organizers, non-profits, and candidates break down tech barriers making it easier to achieve their organizing goals. Learn more at <a href="https://ragtag.org">Ragtag.org</a>.

%p
  Drive the Vote was originally part of <a href="https://devprogress.us/">DevProgress</a>, and used in the 2016 elections in 3 cities.
  
%p
  Please send questions, comments, and suggestions to #{mail_to 'hello@drive.vote'}. Thanks!
  
<br />
%p.text-center
  <a href="https://ragtag.org"><img src="https://assets.ragtag.tech/ragtag-mark.svg" width="132.45" height="30" alt="Ragtag"></a>

%br
%br