- if notice.present?
  =raw humane_flash_messages
    
- if user_signed_in?
  .row
  = render partial: 'election_countdown', locals: {top: '0'}

  %p{style: 'margin-top: 20px;'}
    %span{style: "font-weight: bold; font-size: 18px;"}
      = pluralize(@user_count, 'person')

    #{"has".pluralize(@user_count)} signed up to Drive the Vote!

  %p
    A few weeks before the election we'll start suggesting matches for riders and drivers. We'll send occasional notifications in the meantime as well, like when the location of your polling place has been finalized. They'll be infrequent, and you can unsubscribe from any notification on your #{link_to 'settings page', '#'}.

- else
      
  .row
    .col-sm-6.col-sm-offset-3.text-center
      
      .description
        %b
          #{t(:drive_the_vote)}
        = t(:short_description).gsub( /\n+/, "<br>" ).html_safe
      
      .volunteer
        = link_to instructions_path(type: 'driver', campaign: params[:campaign_slug]) do
          %button.btn.btn-lg.btn-info.btn-home{role: 'button'}
            = t(:will_drive)
          
      .request
        = link_to instructions_path(type: 'rider', campaign: params[:campaign_slug]) do
          %button.btn.btn-lg.btn-danger.btn-home{role: 'button'}
            = t(:i_need_ride)

  .row.sign_up
    .col-sm-12.text-center{style: 'font-size: 12px;'}
      Or #{link_to 'just sign up', user_facebook_omniauth_authorize_path(type: 'dunno', campaign: params[:campaign_slug])}.
  
  .navbar.navbar-default.navbar-fixed-bottom
    .container
      .col-sm-12.text-center
        = link_to t(:learn_more), about_path, class: 'btn btn-xs btn-default', style: 'font-size: 12px;'
