%p
  - if user_signed_in?
    #{t(:hi).humanize} #{current_user.name}
    
  - else
    .jumbotron
      %p
        <b>#{t(:drive).humanize}.#{t(:vote).humanize}</b>
        #{t(:home1)}
      %p
        #{t(:home2)}
      
      %p
        %br
        = link_to t(:sign_in_with_facebook), user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-lg', role: 'button'


%br
%br
%br
%hr
#{t(:users).humanize}
  
- if @users.present?
  - @users.each do |user|
    %div
      #{link_to user.name, user} [#{link_to 'edit', edit_user_path(user)}]