%p
  - if user_signed_in?
    #{t(:hi).humanize} #{current_user.name}
    
    - unless current_user.has_required_fields?
      %h5
        No required fields, you're being redirected
    
  - else
    = link_to t(:sign_in_with_facebook), user_facebook_omniauth_authorize_path

%h4
  #{t(:users).humanize}
  
- if @users.present?
  - @users.each do |user|
    %div
      = user.name