%h1
  #{t(:drive).humanize}. #{t(:vote).humanize}!

%h4
  [
  - if I18n.locale == I18n.default_locale
    English
    |
    = link_to "Español", :locale=>'es'

  - else
    = link_to "English", :locale=>'en'
    |
    Español
  ]
%p
  - if user_signed_in?
    #{t(:hi).humanize} #{current_user.name} [#{link_to t(:sign_out), destroy_user_session_path, method: :delete}]
  - else
    = link_to t(:sign_in_with_facebook), user_facebook_omniauth_authorize_path
