.row
  .col-sm-8.col-sm-offset-2.text-center
    %h1.how_ridesharing_works
      = t(:how_ridesharing_works)
    
    %table.instructions
      %tr
        %td.number
          ①
        %td.instruction
          = t(:fill_out_profile)
      %tr
        %td.number
          ②
        %td.instruction
          = t(:contact_nearby_drivers)
      %tr
        %td.number
          ③
        %td.instruction
          = t(:confirm)
        
    = link_to user_facebook_omniauth_authorize_path(type: params[:type], campaign: params[:campaign_slug]) do
      %button.btn.btn-primary.btn-lg.btn-home{role: 'button'}
        = t(:got_it)