:css
  .notify { margin-bottom: 4px; }
  .field, .actions { margin-top: 15px; }
  td { vertical-align: top;}
  label { margin-top: 10px; font-weight: normal;}
  /* .radsio { margin-right: 5px; } */

= form_for [:admin, @campaign] do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg
    
  .col-sm-8.field
    = f.label :election_id
    = collection_select('campaign', 'election_id', Election.all.map{|e| [e.id, e.name]}, :first, :last, {prompt: 'Select election'}, {html_options: "required"})
    
  .col-sm-8.field
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
    
  .col-sm-8.field
    = f.label :name
    = f.text_field :name, class: 'form-control'
    
  .col-sm-8.field    
    = f.radio_button :party_affiliation, 'democratic'
    = f.label :party_affiliation, 'Democratic'
    &nbsp;&nbsp;

    = f.radio_button :party_affiliation, 'republican'
    = f.label :party_affiliation, 'Republican'
    &nbsp;&nbsp;

    = f.radio_button :party_affiliation, 'green'
    = f.label :party_affiliation, 'Green'
    &nbsp;&nbsp;
    
    = f.radio_button :party_affiliation, 'libertarian'
    = f.label :party_affiliation, 'Libertarian'
    &nbsp;&nbsp;

    = f.radio_button :party_affiliation, 'conservative'
    = f.label :party_affiliation, 'Conservative'

    
    
    
  .col-sm-8.field
    = f.label t(:description), t(:description)
    = f.text_area :description, class: 'form-control'
    
  .col-sm-8.field
    = f.label :start_date
    = f.datetime_select :start_date
    
  .col-sm-8.actions
    = f.submit 'Save', class: 'btn btn-primary'
