= form_for [:admin, @ride_zone] do |f|
  - if @ride_zone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ride_zone.errors.count, "error")} prohibited this ride_zone from being saved:"
      %ul
        - @ride_zone.errors.full_messages.each do |msg|
          %li= msg

  .col-sm-8.field
    = f.label :name, "Ride Zone Name"
    = f.text_field :name, class: 'form-control', autofocus: true, required: true, maxlength: 50

  .col-sm-8.field
    = f.label :slug
    = f.text_field :slug, class: 'form-control', required: true, maxlength: 50

  .col-sm-8.field
    = f.label :description, t(:description)
    = f.text_area :description, class: 'form-control', maxlength: 100

  .col-sm-8.field
    = f.label :phone_number
    = f.text_field :phone_number, class: 'form-control', required: true, maxlength: 17

  .col-sm-8.field
    = f.label :zip
    = f.text_field :zip, class: 'form-control', required: true, maxlength: 12


  -# ----------> CREATE ADMIN USER TOO
  .col-sm-8.field.for_admin_user
    %div{style: 'margin-top: 30px;'}
      %i
        You can optionally create an admin user for this Ride Zone.
    = f.label :admin_name, "Name of admin user"
    = f.text_field :admin_name, class: 'form-control', required: true, maxlength: 50

  .col-sm-8.field.for_admin_user
    = f.label :admin_phone_number, "Mobile phone"
    = f.text_field :admin_phone_number, class: 'form-control', required: true, maxlength: 17

  .col-sm-8.field.for_admin_user
    = f.label :admin_email, "Email"
    = f.text_field :admin_email, class: 'form-control', required: true, maxlength: 50

  .col-sm-8.field.for_admin_user
    = f.label :admin_password, "Admin user's password"
    = f.password_field :admin_password, class: 'form-control', required: true, minlength: 8, maxlength: 50


  .col-sm-8.actions.for_admin_user
    = f.submit t(:save), class: 'btn btn-primary', disable_with: "#{t(:saving)}..."
