= form_for [:admin, @ride_zone] do |f|

  - if @ride_zone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ride_zone.errors.count, "error")} prohibited this ride_zone from being saved:"
      %ul
        - @ride_zone.errors.full_messages.each do |msg|
          %li= msg

  .col-sm-8.field
    = f.label :name, "Ride Zone Name"
    = f.text_field :name, class: 'form-control', autofocus: true, required: true, maxlength: 50

  .col-sm-8.field
    = f.label :slug
    = f.text_field :slug, class: 'form-control', required: true, maxlength: 50

  .col-sm-8.field
    = f.label :description, t(:description)
    = f.text_area :description, class: 'form-control', maxlength: 100

  .col-sm-8.field
    = f.label :phone_number
    = f.text_field :phone_number, class: 'form-control', required: true, maxlength: 17

  .col-sm-8.field
    = f.label :email, "Email *"
    = f.telephone_field :email, class: 'form-control', required: 'true', maxlength: 50

  .col-sm-8.field
    = f.label :organization_name, 'Organization'
    = f.text_field :organization_name, class: 'form-control', maxlength: 50

  .col-sm-8.field
    = f.label :zip
    = f.text_field :zip, class: 'form-control', required: true, maxlength: 12

  .col-sm-8.field
    = f.label :nearby_radius
    = f.text_field :nearby_radius, class: 'form-control', required: true, maxlength: 7

  .col-sm-8.field
    = f.label :max_pickup_radius
    = f.text_field :max_pickup_radius, class: 'form-control', required: true, maxlength: 7

  .col-sm-8.actions
    = f.submit t(:save), class: 'btn btn-primary', disable_with: "#{t(:saving)}…"
    