:css
  h1 { margin-top: 0; }
  .drivers { margin-top: 35px; font-size: 20px; font-weight: bold;}


Drivers, assigned and not, for
%h1
  = link_to @ride_zone.name, admin_ride_zone_path(@ride_zone)
  - if current_user.has_role?(:admin, @ride_zone)
    &nbsp;
    %small
      = link_to 'Edit', edit_admin_ride_zone_path(@ride_zone), class: 'btn btn-default btn-xs'

.drivers
  Drivers
- @drivers.each do |driver|
  %div
    = driver.name

    &nbsp; &#183; &nbsp;
    = link_to 'demote', change_role_admin_ride_zone_path(@ride_zone, to_role: 'unassigned_driver', driver: driver.id), method: :post

.drivers
  Unassigned Drivers
- @unassigned_drivers.each do |driver|
  %div
    = driver.name

    &nbsp; &#183; &nbsp;
    = link_to 'promote', change_role_admin_ride_zone_path(@ride_zone, to_role: 'driver', driver: driver.id), method: :post