:css
  h1 { font-size: 50px; font-weight: bold; }
  h2 { font-size: 18px; font-weight: bold; margin-top: 0px;}
  table { margin: 30px 0 20px 0; width: 650px; }
  td { vertical-align: top; padding-right: 75px;}
  .user_type { width: 150px; }

= render 'admin/nav', {active: 'ride_zones'}

%h1
  Editing #{link_to @ride_zone.name, admin_ride_zone_path(@ride_zone)}

- if flash[:notice]
  %p{style: "background-color: #ffffe0; font-size: 20px; font-weight: bold;"}
    = flash[:notice]

%table.col-sm-9
  %th
    %tr
      %td
        %h2
          Admin
      %td
        %h2
          Dispatchers
      %td
        %h2
          Drivers
  %tbody
    %tr
      %td
        - if @zone_admins.present?
          - @zone_admins.each do |admin|
            - next if admin.is_super_admin?
            %div
              #{admin.name}
              &nbsp;
              %span{style: 'font-size: 12px;'}
                - # to be replaced:
                [ #{link_to 'x', remove_role_admin_ride_zone_path(@ride_zone, user_id: admin.id, role: 'admin'), method: :delete, data: {confirm: "For real?"}, onclick: "return false;"} ]

        %div{style: 'margin-top: 10px; font-style: italic;'}
          Add admin:
          %select#add-admin
            %option
            = options_for_select( (@zone_dispatchers).map{ |u| [u.name, u.id] } )

      %td
        - if @zone_dispatchers.present?
          - @zone_dispatchers.each do |dispatcher|
            %div
              #{dispatcher.name} &nbsp;
              %span{style: 'font-size: 12px;'}
                [ #{link_to 'x', remove_role_admin_ride_zone_path(@ride_zone, user_id: dispatcher.id, role: 'dispatcher'), method: :delete, data: {confirm: "For real?"}, onclick: "return false;"} ]

        %div{style: 'margin-top: 10px; font-style: italic;'}
          Add dispatcher:
          %select#add-dispatcher
            %option
            = options_for_select( (@zone_drivers + @zone_unassigned_drivers).map{ |u| [u.name, u.id] } )

      %td
        - if @zone_drivers.present?
          - @zone_drivers.each do |driver|
            %div
              #{driver.name} &nbsp;
              %span{style: 'font-size: 12px;'}
                [ #{link_to 'x', remove_role_admin_ride_zone_path(@ride_zone, user_id: driver.id, role: 'driver'), method: :delete, data: {confirm: "For real?"}, onclick: "return false;"} ]

        %div{style: 'margin-top: 10px; font-style: italic;'}
          Add driver:
          %select#add-driver
            %option
            / = options_for_select( (@local_users-@zone_drivers).map{ |u| [u.name, u.id] } )
            = options_for_select( (@zone_unassigned_drivers).map{ |u| [u.name, u.id] } )

:javascript

  $(function(){
    adminController.changeRoles( #{@ride_zone.id} );
  })

= render 'form'
