= render 'admin/nav', {active: 'ride_zones'}

%h1
  Ride Zones
  &nbsp;
  %small
    = link_to 'New Ride Zone', new_admin_ride_zone_path, class: 'btn btn-default btn-xs'

%table.admin
  %thead
    %tr
      %th Name
      %th Zip
      %th Description
      %th Phone number
      %th
      %th
      %th

  %tbody
    - @ride_zones.each do |ride_zone|
      %tr
        %td= link_to ride_zone.name, admin_ride_zone_path(ride_zone)
        %td= ride_zone.zip
        %td= ride_zone.description
        %td= ride_zone.phone_number
        %td= link_to 'Dispatch', dispatch_path(ride_zone), target: '_blank'
        %td= link_to 'Edit', edit_admin_ride_zone_path(ride_zone)
        %td= link_to 'Destroy', admin_ride_zone_path(ride_zone), :method => :delete, :data => { :confirm => 'Are you sure?' }