:css
  .message { border-bottom: 1px solid #ccc; padding: 20px; }
  .field-name { text-align: right; padding: 0 20px 0 0; color: #999; }
  .info { text-align: right; padding: 0 0 0 0; color: #999; text-align: left; color: #222;}

= render 'admin/nav', {active: 'ride_zones'}

%h1
  = @ride_zone.name
  - if current_user.has_role?(:admin)
    &nbsp;
    %small
      = link_to 'Edit', edit_admin_ride_zone_path(@ride_zone), class: 'btn btn-default btn-xs'

%h6
  Dispatchers

#dispatchers
  - if @dispatchers.present?
    %ul
      - @dispatchers.each do |dispatcher|
        %li
          = dispatcher.name


%h6
  Drivers

#drivers
  - if @drivers.present?
    %ul
      - @drivers.each do |driver|
        %li
          = driver.name

%h6
  Conversations

  %span{style: 'margin-left: 50px; font-weight: normal; font-size: 16px;'}
    filter: &nbsp;&nbsp;

  %select#conversation-status
    %option
      all
    - Conversation.statuses.each do |status|
      - selected = (params[:status].present? && params[:status] == status[0]) ? 'selected' : ''

      - if selected.present?
        %option{selected: selected}
          = status[0]
      - else
        %option
          = status[0]



  :javascript
    $('#conversation-status').change(function() {
      window.location = "/admin/ride_zones/#{@ride_zone.id}?status=" + $(this).val();
    });




#conversations
  - if @conversations.present?
    - @conversations.each do |conversation|
      .conversation
        %table
          %tr
            %td.field-name
              Started:
            %td.info
              = conversation.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%l:%M%P, %-m/%-d %Z")
          %tr
            %td.field-name
              From:
            %td.info
              = conversation.from_phone.phony_formatted(normalize: :US, spaces: '-')
          %tr
            %td.field-name
              Number of messages
            %td.info
              = conversation.messages.count
          %tr
            %td.field-name
              Status:
            %td.info
              = conversation.status