:javascript
  function conn() {  }
  function disconn() {  }
  function r(data) {
    var tbody = $('#event-table tbody');
    var timestamp = new Date(data['timestamp'] * 1000);
    var content = data[Object.keys(data)[2]];
    var newRow = '<tr><td>' + timestamp.toLocaleString() + '</td><td>' + data['event_type'] + '</td><td>' + JSON.stringify(content) + '</td></tr>'
    tbody.prepend(newRow)
  }
  createRideZoneChannel(#{@ride_zone.id}, conn, disconn, r);

= render 'admin/nav', {active: 'ride_zones'}

%h1
  = @ride_zone.name
  - if current_user.has_role?(:admin)
    &nbsp;
    %small
      = link_to 'Edit', edit_admin_ride_zone_path(@ride_zone), class: 'btn btn-default btn-xs'

%p
  Zip: #{@ride_zone.zip}

%h6
  Dispatchers

#dispatchers
  - if @dispatchers.present?
    %ul
      - @dispatchers.each do |dispatcher|
        %li
          = dispatcher.name

%h6
  Drivers

#drivers
  - if @drivers.present?
    %ul
      - @drivers.each do |driver|
        %li
          = driver.name

%h6
  Conversations

  %span{style: 'margin-left: 50px; font-weight: normal; font-size: 16px;'}
    filter: &nbsp;&nbsp;

  %select#conversation-status
    %option
      all
    - Conversation.statuses.each do |status|
      - selected = (params[:status].present? && params[:status] == status[0]) ? 'selected' : ''

      - if selected.present?
        %option{selected: selected}
          = status[0]
      - else
        %option
          = status[0]

  :javascript
    $('#conversation-status').change(function() {
      window.location = "/admin/ride_zones/#{@ride_zone.id}?status=" + $(this).val();
    });

#conversations
  - if @conversations.present?
    %table.admin
      %thead
        %th Started
        %th From
        %th Message Count
        %th Status
      %tbody
        - @conversations.each do |conversation|
          %tr
            %td= conversation.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%l:%M%P, %-m/%-d %Z")
            %td= conversation.from_phone.phony_formatted(normalize: :US, spaces: '-')
            %td= conversation.messages.count
            %td= conversation.status

#events
%h6
  Event Stream
%table.admin{id: 'event-table'}
  %thead
    %th Time
    %th Type
    %th Data
  %tbody