:css
  .message { border-bottom: 1px solid #ccc; padding: 20px; }
  .field-name { text-align: right; padding: 0 20px 0 0; color: #999; }
  .info { text-align: right; padding: 0 0 0 0; color: #999; text-align: left; color: #222;}
  
= render 'admin/nav', {active: 'ride_zones'}

%h2{style: 'margin: 30px 0 40px 0'}
  = @ride_zone.name

%h6
  Messages
  
  %span{style: 'margin-left: 50px; font-weight: normal; font-size: 16px;'}
    filter: &nbsp;&nbsp;
    
  %select#message-status
    %option
      all
    - Message.statuses.each do |status|
      - selected = (params[:status].present? && params[:status] == status[0]) ? 'selected' : ''
      
      - if selected.present?
        %option{selected: selected}
          = status[0]
      - else
        %option
          = status[0]
  
  :javascript
    $('#message-status').change(function() {
      console.log('fu');
      window.location = "/admin/ride_zones/#{@ride_zone.id}?status=" + $(this).val();
    });
    
    
#messages
  - @messages.each do |message|
    .message
      %table
        %tr
          %td.field-name
            Received:
          %td.info
            = message.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%l:%M%P, %-m/%-d %Z")
        %tr
          %td.field-name
            From:
          %td.info
            = message.from.phony_formatted(normalize: :US, spaces: '-')
        %tr
          %td.field-name
            Message:
          %td.info
            = message.body
        %tr
          %td.field-name
            Status:
          %td.info
            = message.status
        %tr
          %td
          %td.info
            = link_to 'View', admin_message_path(message), class: 'btn btn-xs btn-primary'
            