:css
  h1 { font-size: 20px; }
  .queued{background-color:orange; padding: 1px;}
  .pr {font-size: 13px;}
  .pending {margin-right: 5px; background-color:yellow; padding: 1px;}
  .fail {margin-right: 5px; background-color:red; padding: 1px;}
  .no_ride {margin-right: 5px; background-color:orange; padding: 1px;}
  .yes {margin-right: 5px; background-color:green; color: white; padding: 1px;}
  .desc {margin-top: 0; }

%p#notice
  = notice

%h2
  #{@ride_upload.name}
%div{style: "margin-top: -10px;"}
  Uploaded #{@ride_upload.created_at.strftime("%B %d, %Y")} by #{@ride_upload.user.name}

- if @ride_upload.description.present?
  .desc
    = @ride_upload.description
    
%p
  %i Status:
  %b.queued
    = @ride_upload.status
%div{style: "margin-top: -20px;"}
  - if @ride_upload.csv.present?
    = link_to 'Download file', rails_blob_path(@ride_upload.csv), target: "_blank" 
  - else
    none
    
%p{style: 'margin: 20px 0 5px 0;'}
  %i
    Potential Rides:
- @ride_upload.potential_rides.each do |pr|
  .pr
    - if pr.ride.blank?
      - if pr.failed?
        %span.fail
          &nbsp;&nbsp;
      - elsif pr.pending?
        %span.pending
          &nbsp;&nbsp;
      - else
        %span.no_ride
          &nbsp;&nbsp;
    - else
      %span.yes
        &nbsp;&nbsp;
    #{pr.name}, #{pr.from_address}, #{pr.from_city}
    - if pr.notes.present?
      [#{pr.notes}]
    

  
- if @ride_upload.queued?
  %p
    %br
    = link_to 'Schedule', schedule_admin_ride_zone_ride_upload_path(@ride_upload.ride_zone, @ride_upload), class: 'btn btn-primary'
    
- if @failed_potential_rides.present?
  %h5
    Failed potential rides from upload:
  %ul
    - @failed_potential_rides.each do |fpr|
      %li
        #{fpr.name} (#{fpr.notes})
    
%hr
%p
  = link_to 'Ride Upload Index', admin_ride_zone_ride_uploads_path(@ride_zone.slug)
