= render 'admin/nav', {active: 'drivers'}

%h1
  Drivers

.div{style: "margin: 5px 0 15px 0;"}
  View: &nbsp;&nbsp;
  %select#driver-filter
    %option{value: 'unassigned'} Unassigned

    - if params[:assigned]
      %option{value: 'assigned', selected: 'selected'} Assigned
    - else
      %option{value: 'assigned'} Assigned


    - if params[:all]
      %option{value: 'all', selected: 'selected'} All
    - else
      %option{value: 'all'} All

%table.admin
  %thead
    %tr
      %th ID
      %th Name
      %th Email
      %th Cell
      %th Zip
      %th Unassigned?

  %tbody
    - @drivers.each do |driver|
      %tr
        %td= driver.id
        %td= link_to driver.name, user_path(driver)
        %td= driver.email
        %td= driver.phone_number
        %td= driver.zip
        %td= driver.has_role?(:unassigned_driver)
