:css
  h4 { margin: 30px 0 20px 0;}
  #driver-filter { margin: 0 0 20px 0;}
  th { font-weight: bold; }
  td { font-size: 14px; }
  .name { font-size: 16px; max-width: 250px; font-weight: bold; }
  .contact-info { font-size: 12px; margin-top: -5px; color: #999 }

= render 'admin/nav', {active: 'drivers'}

%h1
  Drivers

View: &nbsp;
%select#driver-filter
  %option{value: 'unassigned'} Unassigned
  - if params[:assigned]
    %option{value: 'assigned', selected: 'selected'} Assigned
  - else
    %option{value: 'assigned'} Assigned
  - if params[:all]
    %option{value: 'all', selected: 'selected'} All
  - else
    %option{value: 'all'} All

= render partial: "application/admin_search", locals: { page: 'drivers' }

%table.table-hover.admin
  %thead
    %tr
      %th Name
      %th Location
      %th CurrentRoles
      %th

  %tbody
    - @drivers.each do |user|
      %tr{class: "row-#{user.id}"}
        %td.name
          = link_to user.name, admin_user_path(user), title: user.id
          &nbsp;
          .contact-info
            = user.phone_number.phony_formatted(normalize: :US, spaces: '-')
          .contact-info
            = user.email
        %td
          #{[user.city, user.state, user.zip].reject(&:blank?).join(', ')}
        %td
          = user.role_names
        %td
          - if user.role_names.include?('unassigned')
            %select.drive-for-rz{'data-uid': user.id}
              %option
                Promote to driver for:
              - RideZone.all.each do |rz|
                %option{value: rz.id}
                  = rz.name
        %td{style: "font-size: 12px;"}
          = link_to 'Edit', edit_admin_user_path(user)
          &nbsp; · &nbsp;
          = link_to 'Destroy', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript

  $('.drive-for-rz').change(function() {
    var uid = $(this).data('uid')
    $.post( "/api/1/ride_zones/" +  $(this).val() + "/change_role?uid=" + uid + "&to_role=driver", function() {
      alert( "Success!" );
      window.location.reload()
    }).fail(function() {
      alert( "FAIL!" );
    });
  });
