%table.key{style: 'margin-bottom: 30px;'}
  %tr
    %td.key-pin-cell= image_tag "rider-waiting-assignment.png", class: 'key-pin-img'
    %td.key-label     Voter needs a driver
    %td.key-pin-cell= image_tag "driver-waiting-assignment.png", class: 'key-pin-img'
    %td.key-label     Available driver
    %td{rowspan: 3, style: 'text-align: center'}
      #dispatch-map-controls{style: 'margin-bottom: 1em; display:none'}
        %button.btn.btn-success.btn-xs#show-all-pins
          Show all pins
        %br
        %span#out-of-bounds-message{style: 'color: #666; font-size: 13px;'}

  %tr
    %td.key-pin-cell= image_tag "rider-overdue-assignment.png", class: 'key-pin-img'
    %td.key-label     Voter overdue assignment
    %td.key-pin-cell= image_tag "driver-assigned.png", class: 'key-pin-img'
    %td.key-label     Assigned driver
  %tr
    %td.key-pin-cell= image_tag "rider-waiting-pickup.png", class: 'key-pin-img'
    %td.key-label     Voter waiting for pickup
    %td.key-pin-cell= image_tag "driver-driving.png", class: 'key-pin-img'
    %td.key-label     Driving
  %tr
    %td.key-pin-cell= image_tag "rider-overdue-pickup.png", class: 'key-pin-img'
    %td.key-label     Voter pickup overdue
    %td.key-pin-cell= image_tag "driver-driving-overdue.png", class: 'key-pin-img'
    %td.key-label     Completion overdue