%table.key{style: 'margin-bottom: 30px;'}
  %thead
    %tr
      %th{colspan: 2} Voter
      %th{colspan: 2} Driver
  %tr
    %td.key-pin-cell= image_tag "rider-needs-driver.svg", class: 'key-pin-rider-img'
    %td.key-label     Needs a driver
    %td.key-pin-cell= image_tag "driver-available.svg", class: 'key-pin-driver-img'
    %td.key-label     Available
    %td{rowspan: 3, style: 'text-align: center'}
      #dispatch-map-controls{style: 'margin-bottom: 1em; display:none'}
        %button.btn.btn-success.btn-xs#show-all-pins
          Show all pins
        %br
        %span#out-of-bounds-message{style: 'color: #666; font-size: 13px;'}

  %tr
    %td.key-pin-cell= image_tag "rider-assignment-overdue.svg", class: 'key-pin-rider-img'
    %td.key-label     Overdue assignment
    %td.key-pin-cell= image_tag "driver-assigned.svg", class: 'key-pin-driver-img'
    %td.key-label     Assigned
  %tr
    %td.key-pin-cell= image_tag "rider-waiting-for-pickup.svg", class: 'key-pin-rider-img'
    %td.key-label     Waiting for pickup
    %td.key-pin-cell= image_tag "driver-driving.svg", class: 'key-pin-driver-img'
    %td.key-label     Driving
  %tr
    %td.key-pin-cell= image_tag "rider-pickup-overdue.svg", class: 'key-pin-rider-img'
    %td.key-label     Pickup overdue
    %td.key-pin-cell= image_tag "driver-overdue.svg", class: 'key-pin-driver-img'
    %td.key-label     Completion overdue
