-# Mashing haml around with js is not the way to do this.

- if (@conversation&.user&.phone_number_normalized.present? && @conversation.messages.any?)
  .messages
    - @conversation.messages.order('created_at asc').each do |message|
      - if @conversation.user.phone_number_normalized.present?
        .message{style: "text-align: #{(message.sent_by == 'Voter') ? 'left' : 'right'}"}

        %code
          %span.msg-epoch
            = message.created_at.to_i
          , #{message.sent_by}
        .msg-body
          = message.body

-# just to make the javascript below a little easier to read
- if @conversation&.ride&.status == 'canceled'
  - close_button = ''
- else
  - close_button = j( link_to "Archive Ride", '#', class: 'btn btn-xs btn-warning archive-convo' )

- if @conversation.voter_phone_blacklisted?
  - block_button = j( link_to 'Unblock #', '#', class: 'btn btn-default btn-xs unblock-convo' )
- else
  - block_button = j( link_to 'Block #', '#', class: 'btn btn-danger btn-xs block-convo' )


- if @conversation.user.name.include?('via sms')
  - title = @conversation.from_phone.phony_formatted(normalize: :US, spaces: '-')
- else
  - title = "#{h @conversation.user.name} <span>#{@conversation.user.phone_number_normalized.present? ? @conversation.user.phone_number.phony_formatted(normalize: :US, spaces: '-') : ''}</span>".html_safe

- if @conversation&.user&.phone_number_normalized.present?
  - show_messages = "show();"
  - no_phone = "hide();"
- else
  - show_messages = "hide();"
  - no_phone = "show();"

:javascript
  $('#conversation-messages').#{show_messages}
  $('.msg-reply').#{show_messages}
  $('.no-phone').#{no_phone}

  // now that we have the conversation object, populate the modal header
  $('#conv-modal-title').html( "#{title}" );

  // convert epoch times to human-readable local times
  $('.msg-epoch').each(function(index) {
    $(this).text( strftime('%l:%M%P', new Date( $(this).text()*1000)) );
  });

  $('#archive-btn').html("<span style='font-weight: normal;'>#{close_button}</span> \
  <span style='font-weight: normal;'>#{block_button}</span> \
  ")

  $('.archive-convo').click(function(e) {
    if (confirm("Are you sure? This will end the conversation and cancel the ride no matter what state it is in, and you will not be able to reopen or reassign it. This is a complete cancellation of this voter's ride" )) {
      $.post( '/api/1/conversations/#{@conversation.id}/close', function(responseData, status, xhr) {
         $('#conv-modal').modal('hide')
        humane.log ('Conversation archived');
      }).fail(function() {
        humane.log ('Unable to archive conversation');
      });
    }
    e.preventDefault();
  });

  $('.unblock-convo').click(function(e) {
    if (confirm("Are you sure you want to unblock phone number #{@conversation.from_phone}?" )) {
      $.post( "#{unblacklist_voter_phone_admin_conversation_path(@conversation)}", function(responseData, status, xhr) {
        humane.log ('number unblocked');
      }).fail(function() {
        humane.log ('Unable to unblock number');
      });
    }
    e.preventDefault();
  });

  $('.block-convo').click(function(e) {
    if (confirm("Are you sure you want to permanently block this phone number, #{@conversation.from_phone}?" )) {
      $.post( "#{blacklist_voter_phone_admin_conversation_path(@conversation)}", function(responseData, status, xhr) {
        humane.log ('number blocked');
      }).fail(function() {
        humane.log ('Unable to block number');
      });
    }
    e.preventDefault();
  });
