.messages
  - @conversation.messages.order('created_at asc').each do |message|
    .message{style: "text-align: #{(message.sent_by == 'Voter') ? 'left' : 'right'}"}
      %code
        %span.msg-epoch
          = message.created_at.to_i
        , #{message.sent_by}
      .msg-body
        = message.body

-# just to make the javascript below a little easier to read
- close_button = j( link_to 'Archive', '#', class: 'btn btn-sm btn-info archive-convo' )

- if @conversation.user.name.include?('via sms')
  - title = @conversation.from_phone.phony_formatted(normalize: :US, spaces: '-')
- else
  - title = "#{h @conversation.user.name} <span>#{@conversation.user.phone_number.phony_formatted(normalize: :US, spaces: '-')}</span>"

:javascript
  // now that we have the conversation object, populate the modal header
  $('#conv-modal-title').html( "#{title}" );

  // convert epoch times to human-readable local times
  $('.msg-epoch').each(function(index) {
    $(this).text( strftime('%l:%M%P', new Date( $(this).text()*1000)) );
  });

  $('#archive-btn').html("<span style='font-weight: normal;'>#{close_button}</span>")

  $('.archive-convo').click(function(e) {
    if (confirm("Are you sure? This will end the conversation and complete the ride no matter what state it is in. This is a complete cancellation of this voter's ride" )) {
      $.post( '/api/1/conversations/#{@conversation.id}/close', function(responseData, status, xhr) {
         $('#conv-modal').modal('hide')
        humane.log ('Conversation archived');
      }).fail(function() {
        humane.log ('Unable to archive conversation');
      });
    }
    e.preventDefault();
  });
