.modal-ride-status
  = @conversation.ride.status

%table
  %tr
    %td.conv-label
      FROM
    %td.conv-field
      = @conversation.ride.from_address
      %br
      = @conversation.ride.from_city


  %tr
    %td.conv-label
      TO
    %td.conv-field
      = @conversation.ride.to_address
      %br
      = @conversation.ride.to_city

  %tr
    %td.conv-label
      PICKUP TIME
    %td.conv-field
      = @conversation.pickup_time

  %tr
    %td.conv-label
      Driver:
    %td.conv-field
      - if @conversation.ride.driver.present?
        = @conversation.ride.driver.try(:name)
      - else
        %i
          unassigned

  %tr
    %td.conv-label
      = link_to 'Edit Ride', '#', id: 'edit_ride', class: 'btn btn-default btn-xs', style: 'margin-top: 20px;'
    %td.conv-field

:javascript
  $(document).ready(function() {
    $( "#edit_ride" ).click( function(e) {
      dispatchController.loadRidePane( "#{@conversation.id}", 'edit' );
      e.preventDefault();
    });
  });