%div{style: "font-size: 13px"}
  status
.modal-ride-status
  = Conversation::STATUS_STRINGS[ @obj.status.to_sym ].html_safe

%table
  / - if @action == 'Edit'
  /   %tr
  /     %td.conv-label
  /       Ride created:
  /     %td.conv-field
  /       #{time_ago_in_words(@conversation.ride.created_at)} ago

  - url = send("update_attribute_api_v1_#{@obj.class.name.downcase}_path", @obj)

  %tr
    %td.conv-label
      FROM
    %td.conv-field
      %div
        %a.to_from{href: '#', id:"from_address", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"From address"}
          = @obj.send(:from_address)
      %div{style: "padding-bottom: 20px;"}
        %a.to_from{href: '#', id:"from_city", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"From city"}
          = @obj.send(:from_city)

  %tr
    %td.conv-label
      TO
    %td.conv-field
      %div
        %a.to_from{href: '#', id:"to_address", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"To address"}
          = @obj.send(:to_address)
      %div{style: "padding-bottom: 20px;"}
        %a.to_from{href: '#', id:"to_city", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"To city"}
          = @obj.send(:to_city)

  %tr
    %td.conv-label
      PICKUP TIME
    %td.conv-field
      %p#pickupdaytime
        %input.date.start#pickup_at_date{type: 'text', name: "pickup_day", value: "#{@obj.pickup_day}", maxlength: 10}
        %input.time.start#pickup_at_time{type: 'text', name: "pickup_time", value: "#{@obj.pickup_time}", placeholder: "Select a time", required: 'true', maxlength: 8}

  %tr
    %td.conv-label
      NUM PASSENGER
    %td.conv-field
      %a.to_from{href: '#', id:"additional_passengers", 'data-type':"text", 'data-pk':"#{@obj.send(:id)}", 'data-url':"#{url}", 'data-title':"To address"}
        = @obj.send(:additional_passengers)+1

  - if @action == 'Edit'
    %tr
      %td.conv-label
        CURRENT DRIVER
      %td.conv-field.current-driver
        - if driver = @obj.send(:driver)
          = driver.try(:name)
        - else
          %i
            Unassigned

  - unless @obj.status_before_type_cast > 2 # ie, it's assigned, picked up, complete, or done
    %tr
      %td.conv-label
        SET DRIVER
      %td.conv-field
        - if @zone_driver_count == 0
          %i
            There are no drivers assigned to this zone.
        - else
          - if @available_drivers.present? || @action == 'Edit'

            %select{id: 'driver_select'}
              %option
                Select driver:

              - if @obj.class == Ride && driver = @obj.send(:driver)
                - if driver_name = driver.try(:name)
                  %option{value: driver.id}
                    = driver_name

              - @available_drivers.each do |driver|
                %option{value: driver.id}
                  = driver.name
          - else
            %i
              None of the #{@zone_driver_count} drivers in this zone are currently available.

  :javascript
    $( function() {
      $('#from_address').editable({ mode: 'inline', emptytext:'address' });
      $('#from_city').editable({ mode: 'inline', emptytext:'city'});
      $('#to_address').editable({ mode: 'inline', emptytext:'address' });
      $('#to_city').editable({ mode: 'inline', emptytext:'city'});
      $('#additional_passengers').editable({ mode: 'inline'});
      $('#pickup_time').editable({ mode: 'inline'});
      dispatchController.attachDriverSelect(#{@obj.ride_zone_id}, #{@obj.id}, "#driver_select", "#{@action.downcase}");

      dispatchController.attachDatePicker("#{url}", "#pickup_at_date", "#pickup_at_time");

      // initialize input widgets first
      $('#pickupdaytime .time').timepicker({
        'timeFormat': 'g:ia',
        'minTime': '7:00am'
      });

      $('#pickupdaytime .date').datepicker({
        'format': 'm/d/yyyy',
        'autoclose': true
      });

      // initialize datepair
      var dpEl = document.getElementById('pickupdaytime');
      var datepair = new Datepair(dpEl);




      locationAutocomplete.attach('#ride_city_state', '#ride_from_city', '#ride_from_state', '#ride_from_zip');

    });
