:css
  h2 { font-size: 20px; font-weight: bold; color: #999; margin: 50px 0 -20px 0;}
  td { border: 0px solid grey;}
  .created_at {color: grey;}

= render partial: 'dispatch/nav'

%div{style: "margin: 20px 0 0 15px;"}
  Sort &nbsp;
  %select.sort
    %option
      name
    - if @sort.to_s == 'created_at'
      %option{ selected: true }
        created_at
    - else
      %option
        created_at

  - if current_user.has_role?(:admin, @ride_zone) || current_user.has_role?(:admin)
    &nbsp;&nbsp; · &nbsp;&nbsp;
    = link_to 'Download .csv', drivers_dispatch_path(format: 'csv'), class: 'btn btn-info btn-xs'

  &nbsp;&nbsp; · &nbsp;&nbsp;
  -# &#128308; = red_circle, &#128309; = blue_circle, &#128661; = taxi
  &#128309; = on duty &nbsp;&nbsp;&nbsp;&nbsp; &#128308; = off duty &nbsp;&nbsp;&nbsp; &#128661; = mid-ride

:javascript
  $('.sort').change(function() {
    window.location.href = window.location.pathname + "?sort=" + $('.sort option:selected').val();;
  });

  $(document).ready(function() {
    $(".no-off-duty").click(function() {
       alert("You can't take a driver off duty when they are in the middle of a ride.\nAssign a new driver or archive the ride first.");
    });
  });

.col-md-12

  %h2{style: 'margin-top: 20px;'}
    Approved drivers
  %table.table{style: 'margin-top: 40px;'}
    %tr
      %td
      %td
        email
      %td
        phone
      - if current_user.is_zone_or_super_admin?
        %td
          signed up
      %td
        last active

      - if current_user.is_zone_or_super_admin?
        %td
      %td

    - if @drivers&.size > 0
      - @drivers.each do |driver|
        %tr
          %td
            = driver.name
            != driver.available? ? '&#128309; ' : '&#128308; '
            - if driver.active_ride.present?
              &#128661;
          %td
            = mail_to driver.email
          %td
            = tel_to  driver.phone_number.phony_formatted(normalize: :US, spaces: '-')

          - if current_user.is_zone_or_super_admin?
            %td.created_at
              = driver.created_at.in_time_zone(@ride_zone.time_zone).strftime("%-m/%-d %l:%M%P")
          %td.last_active
            = driver.updated_at.in_time_zone(@ride_zone.time_zone).strftime("%l:%M%P, %-m/%-d")

          - if current_user.is_zone_or_super_admin?
            %td
              = link_to 'demote', change_role_admin_ride_zone_path(@ride_zone, to_role: 'unassigned_driver', driver: driver.id), method: :post
          %td
            - if driver.available?
              -# pause-button emoji
              - if driver.active_ride.present?
                %span.no-off-duty{title: "Cannot take driver off duty mid-ride"}
                  = link_to raw('&#9208;'), '#', onClick="You can't take a driver off duty mid-ride. If you think they just forgot to mark their last ride complete, please call and ask them to do so."
              - else
                = link_to raw('&#9208;'), toggle_available_admin_driver_path(id: driver.id), method: :post, title: "Take driver off duty"

    - else
      %tr
        %td{colspan: '3'}
          %i
            None

  - if current_user.has_role?(:admin, @ride_zone) || current_user.has_role?(:admin)
    %h2 Unapproved drivers
    %table.table{style: 'margin-top: 40px;'}
      - if @unassigned_drivers&.size > 0
        - @unassigned_drivers.each do |driver|
          %tr
            %td
              = driver.name
            %td
              = mail_to driver.email
            %td
              = tel_to  driver.phone_number.phony_formatted(normalize: :US, spaces: '-')
            %td.created_at
              = driver.created_at.in_time_zone(@ride_zone.time_zone).strftime("%-m/%-d %l:%M%P")
            %td
              = link_to 'Approve', change_role_admin_ride_zone_path(@ride_zone, to_role: 'driver', driver: driver.id), method: :post
      - else
        %tr
          %td{colspan: '3'}
            %i
              None

    %h2 Nearby unapproved drivers
    %table.table{style: 'margin-top: 40px;'}
      - if @nearby_drivers&.size > 0
        - @nearby_drivers.each do |driver|
          %tr
            %td
              = driver.name
            %td
              = mail_to driver.email
            %td
              = tel_to  driver.phone_number.phony_formatted(normalize: :US, spaces: '-')
            %td.created_at
              = driver.created_at.in_time_zone(@ride_zone.time_zone).strftime("%-m/%-d %l:%M%P")
            %td
              = link_to 'Approve', change_role_admin_ride_zone_path(@ride_zone, to_role: 'driver', driver: driver.id), method: :post

      - else
        %tr
          %td{colspan: '3'}
            %i
              None
