= render partial: 'dispatch/modal'
= render partial: 'dispatch/nav'

.row
  .col-md-7
    %ul.nav.nav-tabs{role: "tablist", style: "margin-top: 30px;"}
      %li.active{role: "presentation"}
        %a{id: 'needDriverConversationsTab', href: "#need_driver", 'aria-controls': "home", role: "tab", 'data-toggle': "tab" }
          Need driver (0)
      %li{role: "presentation"}
        %a{id: 'activeConversationsTab', href: "#talking", 'aria-controls': "home", role: "tab", 'data-toggle': "tab" }
          Talking (0)
      %li{role: "presentation"}
        %a{id: 'haveDriverConversationsTab', href: "#has_driver", 'aria-controls': "home", role: "tab", 'data-toggle': "tab" }
          Has driver (0)
      %li{role: "presentation"}
        %a{id: 'inactiveConversationsTab', href: "#inactive", 'aria-controls': "home", role: "tab", 'data-toggle': "tab" }
          Inactive (0)

    .tab-content
      .tab-pane.active#need_driver{role: "tabpanel"}
        .dispatch-filters
          .conv-table-desc
            Voters who need help, have scheduled a ride, or are waiting for a driver
          = link_to 'All (0)', '#', 'data-table': 'needDriverConversations', 'data-statuses': '*', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Need Help (0)', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'help_needed', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Need Driver (0)', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'new_ride waiting_assignment', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Overdue (0)', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'assignment_overdue', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Scheduled (0)', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'scheduled', class: 'btn-conv-filter'

        %table.table.admin.conv-table{id: 'needDriverConversations'}

      .tab-pane#talking{role: "tabpanel"}
        .dispatch-filters
          .conv-table-desc Voters that are speaking with the 'bot'

        %table.table.admin.conv-table{id: 'activeConversations'}

      .tab-pane#has_driver{role: "tabpanel"}
        .dispatch-filters
          .conv-table-desc Voters that have been assigned a driver, are waiting for pickup, or are driving
          = link_to 'All (0)', '#', 'data-table': 'haveDriverConversations', 'data-statuses': '*', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Waiting Accept (0)', '#', 'data-table': 'haveDriverConversations', 'data-statuses': 'waiting_acceptance', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Waiting Pickup (0)', '#', 'data-table': 'haveDriverConversations', 'data-statuses': 'waiting_pickup', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Overdue (0)', '#', 'data-table': 'haveDriverConversations', 'data-statuses': 'pickup_overdue completion_overdue', class: 'btn-conv-filter'
          &nbsp; · &nbsp;
          = link_to 'Driving (0)', '#', 'data-table': 'haveDriverConversations', 'data-statuses': 'driving', class: 'btn-conv-filter'

        %table.table.admin.conv-table{id: 'haveDriverConversations'}

      .tab-pane#inactive{role: "tabpanel"}
        .dispatch-filters
          .conv-table-desc Voters that have canceled rides or finished complete rides

        %table.table.admin.conv-table{id: 'inactiveConversations'}


  .col-md-5{style: 'margin-top: 15px;'}
    #dispatch-map

    .pull-left
      %table.key{style: 'margin-bottom: 30px;;'}
        %tr
          %td.key-pin-cell= image_tag "rider-waiting-assignment.png", class: 'key-pin-img'
          %td.key-label     Voter needs a driver
          %td.key-pin-cell= image_tag "driver-waiting-assignment.png", class: 'key-pin-img'
          %td.key-label     Available driver
          %td{rowspan: 3, style: 'text-align: center'}
            #dispatch-map-controls{style: 'margin-bottom: 1em; display:none'}
              %button.btn.btn-info.btn-sm#show-all-pins
                Show all pins
              %br
              %span#out-of-bounds-message{style: 'color: #666; font-size: 13px;'}

        %tr
          %td.key-pin-cell= image_tag "rider-overdue-assignment.png", class: 'key-pin-img'
          %td.key-label     Voter overdue assignment
          %td.key-pin-cell= image_tag "driver-assigned.png", class: 'key-pin-img'
          %td.key-label     Assigned driver
        %tr
          %td.key-pin-cell= image_tag "rider-waiting-pickup.png", class: 'key-pin-img'
          %td.key-label     Voter waiting for pickup
          %td.key-pin-cell= image_tag "driver-driving.png", class: 'key-pin-img'
          %td.key-label     Driving
        %tr
          %td.key-pin-cell= image_tag "rider-overdue-pickup.png", class: 'key-pin-img'
          %td.key-label     Voter pickup overdue
          %td.key-pin-cell= image_tag "driver-driving-overdue.png", class: 'key-pin-img'
          %td.key-label     Completion overdue


:javascript

  #{render partial: 'dispatch/init.js'}

  function refreshStatuses() {
    if (dispatchController !== undefined)
      dispatchController.refreshStatuses();
  }

  jQuery(document).ready(function($) {
    jQuery.timeago.settings.allowFuture = true;
    $(document).on("click", '.conv-row', function(event) {
      $(this).removeClass('conv-last-voter');
      $(".modal-body").modal();
      dispatchController.loadRidePane($(this).data("cid"));
      dispatchController.loadConversationMessages($(this).data("cid"));
    });

    $('.btn-conv-filter').click(function(event) {
      event.preventDefault();
      dispatchController.showConversationsWithStatuses($(this).data('statuses'), $(this).data('table'));
      $(".btn-conv-filter" ).css( "background-color", "#ddd" );
      $(this).css( "background-color", "#fff" );
    });

    $(".conv-table").on( "mouseenter", ".conv-row", function() {
      dispatchController.animateRide($(this).data('ride-id'));
    });

    $(".conv-table").on( "mouseleave", ".conv-row", function() {
      dispatchController.unanimateRide($(this).data('ride-id'));
    });

    // something's fucked with bootstrap, so make sure we clean up half-closed modals ourselves
    $('#conv-modal').on('hidden.bs.modal', function () {
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
    });

    setInterval(refreshStatuses, 30000);
  });

  // so we can reload the page and keep the same tab open
  $(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('.nav-tabs a').click(function (e) {
      $(this).tab('show');
      var scrollmem = $('body').scrollTop() || $('html').scrollTop();
      window.location.hash = this.hash;
      $('html,body').scrollTop(scrollmem);
    });
  });
