:css
  h5 { margin-top: -10px; }
  h6 { font-weight: bold; font-size: 23px; }
  small { font-size: 11px; }
  .filters { margin: -10px 0 10px 0; font-size: 12px; }
  .message { border-bottom: 1px solid #ccc; width: 90%; margin:5px; padding: 5px;  }
  .msg-timestamp { font-style: italic; color: #777 }
  .msg-body { margin:-5px 0 20px 0; }

.modal.fade.modal-body{"aria-labelledby" => "conversationModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'} x
        %h4#conversationModalLabel.modal-title
          %span#conversationDetails{style: 'font-weight: normal; font-size: 14px;'}

      .modal-body
        %table{style: 'width: 850px; border: 0px solid red;'}
          %tr
            %td{style: 'width: 500px; border: 0px solid red;'}
              #conversation-form
                -# = render partial: 'conversation_form'

            %td{style: 'width: 340px; border: 0px solid red;'}
              #conversation-messages

%h5
  =@ride_zone.name

-#
  / .disp-server-status
  /   Connecting

.col-md-4
  %h6
    Conversations &nbsp;
    %small
      = link_to 'Refresh', '#', onclick: 'javascript: dispatchController.refreshConversations(); return false;', style: 'font-size: 13px; color: #aaa'

  .btn-group.btn-group-xs.filters{role: 'group'}
    = link_to 'All', '#', onclick: 'javascript: dispatchController.showAllConversations(); return false;', id: 'conv-all', class: 'btn btn-secondary btn-default btn-conv', style: 'background-color: #777;'

    = link_to 'Help', '#', onclick: 'javascript: dispatchController.showStatusConversations("need_help"); return false;', id: 'conv-help', class: 'btn btn-secondary btn-default btn-conv'

    = link_to 'In Prog', '#', onclick: 'javascript: dispatchController.showStatusConversations("in_progress"); return false;', id: 'conv-prog', class: 'btn btn-secondary btn-default btn-conv'

    = link_to 'Stale', '#', onclick: 'javascript: dispatchController.showStaleConversations(); return false;', id: 'conv-stale', class: 'btn btn-secondary btn-default btn-conv'

  %table.table.admin{id: 'conversations'}
    %thead
      %tr
        %th Msgs
        %th With
        %th Status
        %th Updated

.col-md-4
  %h6
    Rides &nbsp;
    %small
      = link_to 'Refresh', '#', onclick: 'javascript: dispatchController.refreshRides(); return false;', style: 'font-size: 13px; color: #aaa'

  .btn-group.btn-group-xs.filters{role: 'group'}
    = link_to 'All', '#', onclick: 'javascript: dispatchController.showAllRides(); return false;', id: 'ride-all', class: 'btn btn-secondary btn-default btn-ride', style: 'background-color: #777;'

    = link_to 'Waiting', '#', onclick: 'javascript: dispatchController.showStatusRides("waiting_assignment"); return false;', id: 'ride-waiting', class: 'btn btn-secondary btn-default btn-ride'

    = link_to 'Assigned', '#', onclick: 'javascript: dispatchController.showStatusRides("driver_assigned"); return false;', id: 'ride-assigned', class: 'btn btn-secondary btn-default btn-ride'

    = link_to 'Stale', '#', onclick: 'javascript: dispatchController.showStaleRides(); return false;', id: 'ride-stale', class: 'btn btn-secondary btn-default btn-ride'

  %table.table.admin{id: 'rides'}
    %thead
      %tr
        %th Voter
        %th Status
        %th Updated
        %th Pickup at

.col-md-4
  #dispatch-map

:javascript
  var dispatchMapController;
  var dispatchController;

  jQuery(document).ready(function($) {
    $(document).on("click", '.clickable', function(event) {
      $(".modal-body").modal();
      dispatchController.loadConversationForm($(this).data("cid"));
      dispatchController.loadConversationMessages($(this).data("cid"));
    });
  });

  var gmap = new Map(document.getElementById('dispatch-map'), onMapLoaded,
                     {'google_api_key': 'AIzaSyDyJ3LTbJGAEIKjqYj3-gFDbAZ3BLo6sGo',
                      lat: #{@ride_zone.latitude}, lon: #{@ride_zone.longitude}, zoom: 13});

  function onMapLoaded(map)
  {
    dispatchMapController = new DispatchMapController(map);
    dispatchController = new DispatchController(#{@ride_zone.id}, dispatchMapController);
    dispatchController.init();
  }