= render partial: 'dispatch/modal'

= render partial: 'dispatch/nav'

/ .disp-server-status
/   Connecting

.row
  .col-md-7

    .dispatch-filters
      .conv-table-name Needs a Driver
      .conv-table-desc Voters that need help, have scheduled a ride, or are waiting for a driver
      .pull-right.table-collapse HIDE
      %br
      = link_to 'All', '#', 'data-table': 'needDriverConversations', 'data-statuses': '*', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Need Help', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'help_needed', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Need Driver', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'waiting_assignment', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Overdue', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'assignment_overdue', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Scheduled', '#', 'data-table': 'needDriverConversations', 'data-statuses': 'scheduled', class: 'btn-conv-filter'

    %table.table.admin.conv-table{id: 'needDriverConversations'}

    .dispatch-filters
      .conv-table-name Has a Driver
      .conv-table-desc Voters that have been assigned a driver, are waiting for pickup, or are driving
      .pull-right.table-collapse HIDE
      %br
      = link_to 'All', '#', 'data-table': 'haveDriverConversations', 'data-statuses': '*', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Waiting Pickup', '#', 'data-table': 'haveDriverConversations', 'data-statuses': 'waiting_pickup', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Overdue', '#', 'data-table': 'haveDriverConversations', 'data-statuses': 'pickup_overdue completion_overdue', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Driving', '#', 'data-table': 'haveDriverConversations', 'data-statuses': 'driving', class: 'btn-conv-filter'

    %table.table.admin.conv-table{id: 'haveDriverConversations'}

    .dispatch-filters
      .conv-table-name Active Conversations
      .conv-table-desc Voters that are speaking with the 'bot'
      .pull-right.table-collapse HIDE
    %table.table.admin.conv-table{id: 'activeConversations'}

    .dispatch-filters
      .conv-table-name Inactive Conversations
      .conv-table-desc Voters that have canceled rides or finished complete rides
      .pull-right.table-collapse HIDE
    %table.table.admin.conv-table{id: 'inactiveConversations'}

  .col-md-5{style: 'margin-top: 15px;'}
    #dispatch-map

    .pull-left
      %table.key{style: 'margin-bottom: 30px;;'}
        %tr
          %td.key-pin-cell= image_tag "rider-waiting-assignment.png", class: 'key-pin-img'
          %td.key-label     Voter needs a driver
          %td.key-pin-cell= image_tag "driver-waiting-assignment.png", class: 'key-pin-img'
          %td.key-label     Available driver
        %tr
          %td.key-pin-cell= image_tag "rider-overdue-assignment.png", class: 'key-pin-img'
          %td.key-label     Voter overdue assignment
          %td.key-pin-cell= image_tag "driver-assigned.png", class: 'key-pin-img'
          %td.key-label     Assigned driver
        %tr
          %td.key-pin-cell= image_tag "rider-waiting-pickup.png", class: 'key-pin-img'
          %td.key-label     Voter waiting for pickup
          %td.key-pin-cell= image_tag "driver-driving.png", class: 'key-pin-img'
          %td.key-label     Driving
        %tr
          %td.key-pin-cell= image_tag "rider-overdue-pickup.png", class: 'key-pin-img'
          %td.key-label     Voter pickup overdue
          %td.key-pin-cell= image_tag "driver-driving-overdue.png", class: 'key-pin-img'
          %td.key-label     Completion overdue


:javascript

  #{render partial: 'dispatch/init.js'}

  function refreshStatuses() {
    if (dispatchController !== undefined)
      dispatchController.refreshStatuses();
  }

  jQuery(document).ready(function($) {
    jQuery.timeago.settings.allowFuture = true;
    $(document).on("click", '.conv-row', function(event) {
      $(".modal-body").modal();
      dispatchController.loadRidePane($(this).data("cid"));
      dispatchController.loadConversationMessages($(this).data("cid"));
    });

    $('.btn-conv-filter').click(function(event) {
      event.preventDefault();
      dispatchController.showConversationsWithStatuses($(this).data('statuses'), $(this).data('table'));
      $(".btn-conv-filter" ).css( "background-color", "#ddd" );
      $(this).css( "background-color", "#fff" );
    });

    $('.table-collapse').click(function(event) {
      event.preventDefault();
      var table = $(this).parent().next("table");
      if ($(this).text() == 'HIDE') {
        table.hide();
        $(this).text('SHOW');
      } else {
        table.show();
        $(this).text('HIDE');
      }
    });

    $(".conv-table").on( "mouseenter", ".conv-row", function() {
      console.log('animate start ' + $(this).data('ride-id'));
      dispatchController.animateRide($(this).data('ride-id'));
    });

    $(".conv-table").on( "mouseleave", ".conv-row", function() {
      console.log('animate stop');
      dispatchController.unanimateRide($(this).data('ride-id'));
    });

    // something's fucked with bootstrap, so make sure we clean up half-closed modals ourselves
    $('#conv-modal').on('hidden.bs.modal', function () {
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
    });

    setInterval(refreshStatuses, 30000);
  });

