= render partial: 'dispatch/modal'

= render partial: 'dispatch/nav'

/ .disp-server-status
/   Connecting

.row
  .col-md-7

    .dispatch-filters
      = link_to 'All', '#', 'data-statuses': '*', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Needs Help', '#', 'data-statuses': 'help_needed', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Overdue', '#', 'data-statuses': 'assignment_overdue pickup_overdue completion_overdue', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Waiting Assignment', '#', 'data-statuses': 'waiting_assignment', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Waiting Pickup', '#', 'data-statuses': 'waiting_pickup', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Scheduled', '#', 'data-statuses': 'scheduled', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Driving', '#', 'data-statuses': 'driving', class: 'btn-conv-filter'
      &nbsp; · &nbsp;
      = link_to 'Messaging', '#', 'data-statuses': 'messaging', class: 'btn-conv-filter'

    %table.table.admin{id: 'conversations'}
      %thead
        %tr
          %th{style: 'width:5%'}
          %th{style: 'width:20%'} Voter
          %th{style: 'width:45%'} Last message
          %th{style: 'width:15%'} Status
          %th{style: 'width:15%'} Desired pickup

  .col-md-5{style: 'margin-top: 15px;'}
    #dispatch-map

:javascript

  #{render partial: 'dispatch/init.js'}

  function refreshStatuses() {
    if (dispatchController !== undefined)
      dispatchController.refreshStatuses();
  }

  jQuery(document).ready(function($) {
    jQuery.timeago.settings.allowFuture = true;
    $(document).on("click", '.clickable', function(event) {
      $(".modal-body").modal();
      dispatchController.loadRidePane($(this).data("cid"));
      dispatchController.loadConversationMessages($(this).data("cid"));
    });

    $('.btn-conv-filter').click(function(event) {
      event.preventDefault();
      dispatchController.showConversationsWithStatuses($(this).data('statuses'));
      $(".btn-conv-filter" ).css( "background-color", "#ddd" );
      $(this).css( "background-color", "#fff" );
    });

    $("#conversations").on( "mouseenter", "td.ride-icon", function() {
      dispatchController.animateRide($(this).data('ride-id'));
    });

    $("#conversations").on( "mouseleave", "td.ride-icon", function() {
      dispatchController.unanimateRide($(this).data('ride-id'));
    });

    // something's fucked with bootstrap, so make sure we clean up half-closed modals ourselves
    $('#conv-modal').on('hidden.bs.modal', function () {
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
    });

    setInterval(refreshStatuses, 30000);
  });

