%h1
  Campaigns
  %small
    = link_to 'New Campaign', new_admin_campaign_path, class: 'btn btn-default btn-sm'
    
%table
  %thead
    %tr
      %th Election
      %th Slug
      %th Name
      %th Description
      %th Start date
      - if current_user.has_role? :admin
        %th
        %th

  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= campaign.election_id
        %td= campaign.slug
        %td= link_to campaign.name, campaign
        %td= campaign.description
        %td= campaign.start_date
        - if current_user.has_role? :admin
          %td= link_to 'Edit', edit_admin_campaign_path(campaign)
          %td= link_to 'Destroy', campaign, :method => :delete, :data => { :confirm => 'Are you sure?' }