- if notice.present?
  =raw humane_flash_messages

%p
  %b Election:
  = @campaign.election_id
%p
  %b Slug:
  = @campaign.slug
%p
  %b Name:
  = @campaign.name
%p
  %b Description:
  = @campaign.description
%p
  %b Start date:
  = @campaign.start_date
