- if @user.errors.any?
  #error_explanation
    %h2
      = pluralize(@user.errors.count, 'error')
      prohibited this user from being saved:

    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

= form_for [:admin, @user], :role => 'form', :html => {:class => 'form-horizontal'}  do |f|

  .col-sm-8.field
    %i
      To edit driver/dispatcher roles, go to the edit page for that ride zone.

  - if @zones_driving_for.present?
    .col-sm-8.field
      %i
        Driver for:
      - @zones_driving_for.each do |rz|
        %div
          #{rz.name} &nbsp &#183; &nbsp; [#{link_to 'edit', edit_admin_ride_zone_path(rz)}]

  - if @zones_dispatching_for.present?
    .col-sm-8.field
      %i
        Dispatcher for:
      - @zones_dispatching_for.each do |rz|
        %div
          #{rz.name} &nbsp &#183; &nbsp; [#{link_to 'edit', edit_admin_ride_zone_path(rz)}]

  .col-sm-8.field
    = f.label :name, "#{t(:full_name)} *"
    = f.text_field :name, class: 'form-control', autofocus: true, required: 'true', maxlength: 50

  .col-sm-8.field
    = f.label :phone_number, "#{t(:phone_number)} *"
    = f.telephone_field :phone_number, class: 'form-control', required: 'true'
    = f.telephone_field :phone_number, class: 'form-control', required: 'true', maxlength: 20

  .col-sm-8.field
    = f.label :email, "Email *"
    = f.telephone_field :email, class: 'form-control', required: 'true', maxlength: 50

  .col-sm-8.field
    = f.label :address1, t(:address)
    = f.text_field :address1, class: 'form-control', maxlength: 50

  .clearfix

  .col-sm-8.field
    = f.label :city, t(:city)
    = f.text_field :city, class: 'form-control', required: 'true', maxlength: 50

  .col-sm-8.field
    = f.label :state, t(:state)
    = f.text_field :state, class: 'form-control', required: 'true', maxlength: 50

  .col-sm-8.field
    = f.label :zip, t(:zip)
    = f.text_field :zip, class: 'form-control', required: 'true'

  .col-sm-8.field
    Available? &nbsp;
    %label
      = f.radio_button :available, true, :value => true
      &nbsp; Yes &nbsp;&nbsp;&nbsp;

    %label
      = f.radio_button :available, false, :value => false
      &nbsp; No &nbsp;&nbsp;&nbsp;

  .col-sm-8.field{style: "background-color: #ff9999; padding: 0px 10px 10px 10px;"}
    Super admin? &nbsp;
    %label
      = f.radio_button :superadmin, true, :value => true
      &nbsp; Yes &nbsp;&nbsp;&nbsp;

    %label
      = f.radio_button :superadmin, false, :value => false
      &nbsp; No &nbsp;&nbsp;&nbsp;

    %div{style: "font-style:italic; font-size: 14px; margin-top: -8px;"}
      <b>DANGER!</b> Only give super admin to DtV staff, this gives you access to absolutely everything.

  .col-sm-8.field
    = f.submit t(:save), class: 'btn btn-primary', style: 'width: 100%; margin-top: 10px;', disable_with: "#{t(:saving)}..."

    .small{style: 'margin: 10px 0 50px 0;'}
      By saving your are agreeing to the #{link_to t(:terms_of_service), terms_of_service_path, target: '_blank'}.