:css
  #user-filter { margin: 0 0 20px 0;}
  #user-search { display: inline;}

= render 'admin/nav', {active: 'users'}

%h2
  Users
  &nbsp;
  %small
    = link_to 'New User', new_user_registration_path, class: 'btn btn-default btn-xs'

Filter: &nbsp;
%select#user-filter
  - %w{all admin dispatcher driver unassigned_driver}.each do |role|
    %option{value: role, selected: params[:"filter"] == role}
      = role.gsub('_', ' ')

%span{style: "margin-left: 25px"}
  Search: &nbsp;
  %form#user-search
    %input#q{type: 'text', value: "#{@q}"}

  - if @q.present?
    = link_to 'clear', admin_users_path, style: "font-size: 13px; color: #777; margin-left: 10px;"


%table.table-hover.admin
  %thead
    %tr
      %th Name
      %th Created
      %th Location
      %th Roles
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td{style: 'max-width: 250px;'}= link_to user.name, admin_user_path(user)
        %td= user.created_at.strftime("%-m/%-d, %-H:%M %P")
        %td #{[user.city, user.state, user.zip].reject(&:blank?).join(', ')}
        %td= user.roles.collect{|r| r.name.gsub('_', ' ')}.join(', ')
        %td
          = link_to 'Edit', edit_admin_user_path(user)
          &nbsp; &#183; &nbsp;
          = link_to 'Destroy', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }
          &nbsp; &#183; &nbsp;
          = link_to 'QA Clear', qa_clear_admin_user_path(user), method: :post, data: { :confirm => "This will delete all conversations, rides, and messages for this user. Are you sure that's what you want to do?" }

- if @users.present?
  %nav{'aria-label': 'pagination'}
    = will_paginate @users #, renderer: BootstrapPagination::Rails

:javascript
  $('#user-filter').change(function() {
    window.location.href = "/admin/users/?filter=" + $(this).val();
  });

  $( "#user-search" ).submit(function( event ) {
    window.location.href = "/admin/users?q=" + $('#q').val();
    event.preventDefault();
  });