= render 'admin/nav', {active: 'users'}

%h1
  = @user.name
  - if current_user.has_role?(:admin)
    &nbsp;
    %small
      = link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-default'

- if @user.description.present?
  %p
    %b
      Description:
    %div
      = @user.description

%p
  Admin?:
  %b=@user.has_role?(:admin)

%p
  Dispatcher for Zone:
  %ul
    - if @dispatch_zone.present?
      %li
        = @dispatch_zone.name
    - else
      %li
        %i
          None

%p
  Driving for Zone:
  %ul
    - if @driving_zone.present?
      %li
        = @driving_zone.name
    - else
      %li
        %i
          None

%p
  = link_to 'Back to Users', admin_users_url
