= render 'admin/nav', {active: 'users'}

%h1
  = @user.name
  - if current_user.has_role?(:admin)
    &nbsp;
    %small
      = link_to 'Edit', edit_admin_user_path(@user), class: 'btn btn-default'

- if @user.description.present?
  %p
    %b
      Description:
    %div
      = @user.description

%p
  DtV Admin?:
  %b=@user.has_role?(:admin)

Zone admin for:
- if @admin_zones.present?
  - @admin_zones.each do |zone|
    %div
      = zone.name

- else
  %div
    %i
      None

%br
Dispatcher for Zones:
- if @dispatch_zones.present?
  - @dispatch_zones.each do |zone|
    %div
      = zone.name
- else
  %div
    %i
      None

%br
Driving for Zones:
- if @driving_zones.present?
  - @driving_zones.each do |zone|
    %div
      = zone.name
- else
  %div
    %i
      None
