:css
  sup { color: red; }

// expects local 'rescheduling' if this is a ride edit
= form_for @ride do |f|
  = hidden_field_tag(:ride_zone_id, @ride_zone.id)
  = hidden_field_tag(:locale, @locale || 'en')
  = hidden_field_tag(:user_id, @user.try(:id))

  - if @ride && @ride.errors.any?
    #error_explanation
      %h5
        Error creating ride
      %ul
        - @ride.errors.full_messages.each do |msg|
          %li= msg

  - if @user && @user.errors.any?
    #error_explanation
      %h5
        Error creating user
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  - if !rescheduling && (!@user || @user.new_record?)
    .col-sm-8.field
      = f.label :name, "#{h t(:voter_name)} <sup>*</sup>".html_safe
      = f.text_field :name, class: 'form-control', required: true, maxlength: 100, autofocus: true

  .col-sm-8.field
    = f.label :from_address, "#{h t(:where_to_be_picked_up)} <sup>*</sup>".html_safe
    = f.text_field :from_address, class: 'form-control', required: true, maxlength: 100

  .col-sm-8.field
    = f.label :from_city_state, "#{h t(:city_for_pickup)} <sup>*</sup>".html_safe
    = f.text_field :from_city_state, class: 'form-control', required: 'true', autocomplete: :off, maxlength: 40, pattern: "^.*( CA| ca| DC| dc| FL| fl| HI| hi| IL| il| NV| nv| OH| oh| PA| pa| UT| ut| WI| wi)\s*$"

    -# populated by location_autocomplete from city_state, which is populated by google places api
    = f.hidden_field :from_city, :value => ''
    = f.hidden_field :from_state, :value => ''
    = f.hidden_field :from_zip, :value => ''

  .col-sm-8.field
    = f.label :to_address, "#{h t(:where_to_be_dropped_off)}".html_safe
    = f.text_field :to_address, class: 'form-control', required: false, maxlength: 100

  .col-sm-8.field
    = f.label :to_city_state, "#{h t(:city_for_pickup)}".html_safe
    = f.text_field :to_city_state, class: 'form-control', required: 'false', autocomplete: :off, maxlength: 40, pattern: "^.*( PA| pa| UT | ut| NV| nv| OH| oh| FL| fl| WI| wi| DC| dc | ca| CA)\s*$"

    -# populated by location_autocomplete from city_state, which is populated by google places api
    = f.hidden_field :to_city, :value => ''
    = f.hidden_field :to_state, :value => ''
    = f.hidden_field :to_zip, :value => ''

  .col-sm-8.field
    = f.label :pickup_at, "#{h t(:what_time_pickup)} <sup>*</sup>".html_safe
    = render partial: 'jank_date_select'

  .col-sm-8.field
    = f.label :phone_number, "#{h t(:mobile_phone_number)} <sup>*</sup>".html_safe
    -# pretty liberal client-side tel number validation
    = f.telephone_field :phone_number, class: 'form-control', required: true, maxlength: 17, placeholder: "ex. 555-555-5555", pattern: '^(\([2-9][0-9][0-9]\)[\- ]?|[2-9][0-9][0-9][\- .]?)[0-9]{3}[\- .]?[0-9]{4}$'

  .col-sm-8.field
    = f.label :additional_passengers, t(:how_many_additional)
    &nbsp;
    = f.select :additional_passengers, [['0 (just me)',0], [1,1], [2,2], [3,3], [4,4], [5,5]]

  .col-sm-8.field
    = f.label :special_requests, t(:special_requests)
    = f.text_area :special_requests, class: 'form-control', maxlength: 200

  .col-sm-8.field
    = f.label t(:email_address)
    = f.text_field :email, class: 'form-control', maxlength: 50

  .col-sm-8.actions
    = f.submit t(:save), class: 'btn btn-primary', disable_with: "#{t(:saving)}..."

:javascript
  $( function() {
    locationAutocomplete.attach('#ride_from_city_state', '#ride_from_city', '#ride_from_state', '#ride_from_zip');
    locationAutocomplete.attach('#ride_to_city_state', '#ride_to_city', '#ride_to_state', '#ride_to_zip');
  });