- dispatcher = false if local_assigns[:dispatcher].nil?
- rescheduling = false if local_assigns[:rescheduling].nil?
- @ride.phone_number = @ride&.voter&.phone_number # needed here because the controller isn't populating the attr_accessor

:css
  sup { color: red; }

// expects local 'rescheduling' if this is a ride edit
= form_for @ride do |f|
  = hidden_field_tag(:ride_zone_id, @ride_zone.id)
  = hidden_field_tag(:locale, @locale || 'en')
  = hidden_field_tag(:user_id, @user.try(:id))

  - if dispatcher.present?
    = hidden_field_tag(:dispatcher, "true")

  - if @ride && @ride.errors.any?
    #error_explanation
      %h5
        Error creating ride
      %ul
        - @ride.errors.full_messages.each do |msg|
          %li= msg

  - if @user && @user.errors.any?
    #error_explanation
      %h5
        Error creating user
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .col-sm-8.field
    = f.label :name, "#{h t(:voter_name)} <sup>*</sup>".html_safe
    = f.text_field :name, class: 'form-control', required: true, maxlength: 100, autofocus: true

  .col-sm-8.field
    = f.label :from_address, "#{h t(:where_to_be_picked_up)} <sup>*</sup>".html_safe
    = f.text_field :from_address, class: 'form-control', required: true, maxlength: 100

  .col-sm-8.field
    = f.label :from_city_state, "#{h t(:city_for_pickup)} <sup>*</sup>".html_safe
    = f.text_field :from_city_state, :value => !@ride_zone || @ride_zone.city+', '+@ride_zone.state, class: 'form-control', required: true, autocomplete: :off, maxlength: 40, pattern: "^.*#{@validation_pattern}\s*$"

    -# populated by location_autocomplete from city_state, which is populated by google places api
    = f.hidden_field :from_city, :value => ''
    = f.hidden_field :from_state, :value => ''
    = f.hidden_field :from_zip, :value => ''

  .col-sm-8.field
    = f.label :to_address, "#{h t(:where_to_be_dropped_off)}".html_safe
    = f.text_field :to_address, class: 'form-control', required: false, maxlength: 100

  .col-sm-8.field
    = f.label :to_city_state, "#{h t(:drop_off_city_state)}".html_safe

    - to_city_state = (@ride.to_city.present? && @ride.to_state.present?) ? @ride.to_city+', '+@ride.to_state : ''
    = f.text_field :to_city_state, :value => to_city_state, class: 'form-control', required: false, autocomplete: :off, maxlength: 40, pattern: "^.*#{@validation_pattern}\s*$"

    -# populated by location_autocomplete from city_state, which is populated by google places api
    = f.hidden_field :to_city, :value => ''
    = f.hidden_field :to_state, :value => ''
    = f.hidden_field :to_zip, :value => ''

  .col-sm-8.field
    = f.label :pickup_at, "#{h t(:what_time_pickup)} <sup>*</sup>".html_safe
    - if @ride.persisted?
      = datetime_select("ride", "pickup_at", selected: @ride.pickup_in_time_zone, ampm: true)
    - else
      = datetime_select("ride", "pickup_at", selected: Date.new(2018,11,06), start_year: 2018, end_year: 2018, start_hour: 6, ampm: true)

  .col-sm-8.field
    -# You can only edit the phone number if the ride doesn't have a conversation which has messages.
    - if @ride.persisted? && @ride.has_conversation_with_messages?
      Mobile phone number?<br />
      <i>You can't edit phone numbers of rides with active conversations.</i>
    - else
      = f.label :phone_number, "#{h t(:mobile_phone_number)}".html_safe
      = f.telephone_field :phone_number, class: 'form-control', required: false, maxlength: 17, placeholder: "ex. 555-555-5555", pattern: '^(\([2-9][0-9][0-9]\)[\- ]?|[2-9][0-9][0-9][\- .]?)[0-9]{3}[\- .]?[0-9]{4}$'

  .col-sm-8.field
    = f.label :additional_passengers, t(:how_many_additional)
    &nbsp;
    = f.select :additional_passengers, [['0 (just me)',0], [1,1], [2,2], [3,3], [4,4], [5,5], ['6+ (put number in special requests)',6]]

  .col-sm-8.field
    = f.label :special_requests, t(:special_requests)
    = f.text_area :special_requests, class: 'form-control', maxlength: 200

  .col-sm-8.field
    = f.label t(:email_address)
    = f.text_field :email, class: 'form-control', maxlength: 50

  .col-sm-8.actions
    = f.submit t(:save), class: 'btn btn-primary', disable_with: "#{t(:saving)}…"

:javascript
  $( function() {
    locationAutocomplete.attach('#ride_from_city_state', '#ride_to_city_state', '#ride_from_city', '#ride_from_state', '#ride_from_zip');
    locationAutocomplete.attach('#ride_to_city_state', '', '#ride_to_city', '#ride_to_state', '#ride_to_zip');
  });
