%table.table-hover.admin
  %thead
    %tr
      %th{style: "width: 140px;"}
        Voter/from
      - if admin
        %th Zone
      %th Driver
      %th{style: "width: 110px;"}
        Pickup Time
      %th Passengers
      %th Special Requests
      %th Status
      %th

  %tbody
    - rides.each do |ride|
      %tr
        %td
          - if ride.voter.nil?
            \--
          - else
            = link_to "#{ride.voter.name}", admin_user_path(ride.voter)
            %div{style: 'font-size: 12px; margin-top: 0px; color: #999'}
              #{[ride.from_address, ride.from_city].join(', ')}
        
        - if admin
          %td
            = ride.ride_zone.nil? ? 'none' : ride.ride_zone.name
        %td
          = ride.driver.nil? ? '' : ride.driver.name
          
        %td
          - style = "font-size: 12px; width: 90px; padding: 3px;"
          
          - if ride.pickup_at.utc < Time.now.utc
            - style += " color: white; background-color: #d71e14;" 
          
          - elsif ride.pickup_at.utc < Time.now.utc + 10.minutes
            - style += " color: white; background-color: orange;"
          
          - elsif ride.pickup_at.utc < Time.now.utc + 30.minutes
            - style += " color: grey; background-color: yellow;"
          - else
            - style += " color: white; background-color: grey;"
          
          %div{style: "#{style}"}
            / = ride.pickup_at.nil? ? 'none' : ride.pickup_in_time_zone.strftime('%m/%d %l:%M %P %Z')
            = ride.pickup_at.nil? ? '--' : ride.pickup_at.in_time_zone(ride.ride_zone.time_zone).strftime('%m/%d %l:%M %P')
            / <br />
            / = Time.now.utc.strftime('%m/%d %l:%M %P %Z')
          
        %td
          = ride.additional_passengers + 1
        %td{style: "font-size: 12px; color: #999"}
          = ride.special_requests
        %td{style: "width: 100px; font-size: 12px; color: #999"}
          = ride.status_str
          
        %td{style: "font-size: 12px;"}
          - if admin
            = link_to 'Show', [:admin, ride]
            &nbsp; &#183; &nbsp;
            
            = link_to 'Edit', edit_admin_ride_path(ride), class: 'btn btn-default btn-xs'
          
            &nbsp; &#183; &nbsp;
            = link_to 'Destroy', [:admin, ride], :method => :delete, :data => { :confirm => 'Are you sure?' }
            
          - else
            = link_to 'Archive', close_admin_conversation_path(ride.conversation), class: 'btn btn-default btn-xs', data: { confirm: 'Are you sure? Conversations normally close themselves, only use this for orphans, bad actors, etc.' }, method: :POST
