!!! html
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf8'}
    %title 🚕 the Vote
    = csrf_meta_tags
    
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', :content => ''}
    
    %link{:href => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', :rel => 'stylesheet'}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"}
    
    :css
      /* body { padding-top: 60px } add this back if you switch back to navbar-fixed-top */
      .inverse, .inverse a { color: #9d9d9d; }
      
    %script{:src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    %script{:src => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}
    
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{:type=>"button", :'data-toggle'=>"collapse", :'data-target'=>"#navbar",  :'aria-expanded'=>"false", :'aria-controls'=>"navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            
          %a.navbar-brand{href: "/", style: 'color: white; font-family: "Times New Roman", Times, serif'}
            %span.glyphicons.glyphicons-cars.inverse{'aria-hidden': "true", style: 'margin-top:-5px;'}
            <i>#{t(:drive_the_vote)}!</i>
        
        #navbar.collapse.navbar-collapse
                
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Español", :locale=>'es'
            %li= link_to "English", :locale=>'en'
            - unless user_signed_in?
              %li
                %p.navbar-btn
                  = link_to t(:sign_in), user_facebook_omniauth_authorize_path, class: 'btn btn-default btn-xs', role: 'button', style: 'margin: 7px 0 0 10px;'
            
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
                  %span.glyphicon.glyphicon-user.inverse{'aria-hidden': "true"}
                  %span.caret.inverse
                  %ul.dropdown-menu{"aria-labelledby": "dropdownMenu1"}
                    
                    %li= link_to 'Your profile', current_user
                    %li= link_to 'Your settings', "javascript:alert('coming soon');"
                        
                    %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete
                    
    .container
      = yield
