!!! html
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf8'}
    %title DriveVote
    = csrf_meta_tags
    
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', :content => ''}
    
    %link{:href => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', :rel => 'stylesheet'}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"}
    
    :css
      body { padding-top: 60px /* 60px to make the container go all the way to the bottom of the topbar */ }
      
    %script{:src => "https://code.jquery.com/jquery-2.2.4.min.js"}
    %script{:src => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}
    
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{:type=>"button", :'data-toggle'=>"collapse", :'data-target'=>"#navbar",  :'aria-expanded'=>"false", :'aria-controls'=>"navbar"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            %b
              #{t(:drive).humanize}. #{t(:vote).humanize}!
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to t(:about)
            %li= link_to t(:contact)
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Español", :locale=>'es'
            %li= link_to "English", :locale=>'en'
            - if user_signed_in?
              %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete
            
    .container
      = yield
    