!!! html
%html{lang: 'en'}
  %head
    %meta{charset: 'utf8'}
    %title 🚕 the Vote
    = csrf_meta_tags

    - if request.original_url.include?('dispatch')
      = action_cable_meta_tag

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "mobile-web-app-capable", content: "yes" }

    %meta{ name: 'description', content: 'Drive the Vote matches people who need rides to their polling place with volunteer drivers who want to take them there. No car should not mean no vote.' }
    %meta{ name: 'author', content: 'John McGrath' }

    <meta name="google-site-verification" content="viExRr2P8s3c3Tq1fXu9qc2Tg_npPT7HtkBTpD97t_0" />

    %meta{ property: 'og:type', content: "website" }
    %meta{ property: 'og:title', content: 'Drive the Vote!' }
    %meta{ property: 'og:site_name', content: 'Drive the Vote!' }
    %meta{ property: 'og:url', content: 'https://www.drive.vote' }
    %meta{ property: 'og:description', content: 'Drive the Vote matches people who need a ride to their polling place with volunteer drivers, and provides information about voting places, dates, and rules.' }
    %meta{ property:'og:image', content: 'https://www.drive.vote/drive_the_vote.png' }

    %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css", rel: "stylesheet"}
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css", rel: "stylesheet"}

    :css
      .faq { margin-top: 10px; }
      .shares { width: 260px; border: 0px solid green; opacity: 0.6; font-size: 13px; margin: 0 auto;}
      .navbar { background-color: white; border: 0; box-shadow: none !important }
      .navbar-default { background-color: white; border: 0; box-shadow: none !important }
      .navbar-static-top { background-color: white; border: 0; box-shadow: none !important }

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80989577-1', 'auto');
      ga('send', 'pageview');

  %body
    #fb-root
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=598384123655141";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    = render partial: 'nav'

    .container
      = yield

    - if notice.present? || alert.present?
      :javascript
        //<![CDATA[
        humane.clickToClose = true;
        humane.timeout = 3500;
        //humane.waitForMove = true;
        //humane.timeoutAfterMove = 1;
        humane.notice( '#{notice}' );
        //]]>

%script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}